[2015-09-07 15:39] thecontrarycat opened #2 "Inappropriate properties are converted to Guids"
It appears that the code that maps integer Ids to Guids is being ran indiscriminately on export.  This is particularly apparent when you have a property of type TextString where any 4 to 10 character number can be converted to a Guid if it matches a node in the CMS.

e.g. ExecutableName property with value of "PR1051.exe" has a value of "PR3D08C9E2-D369-426A-875C-19685F7FABBC.exe" after export.

S

[2015-09-08 08:16] KevinJump commented on #2
yeah, I need to do some value mapping stuff and put something in the config to determine if the id should be mapped.

[2015-09-08 11:19] KevinJump commented on #2
Mapping is now separated out - and you can define what property types map in the uSyncCore.Config
see f5e24d9a57bafda9778528fa1abfd9a01653dde5

[2015-09-08 11:19] #2 closed

[2015-09-10 15:36] thecontrarycat opened #3 "Content Import Regression"
Since the refactor in f5e24d9a57bafda9778528fa1abfd9a01653dde5 the ability to import content with a prevalue datatype has regressed.

It appears that the mapping code is only running when importing DataTypes and not when importing the content itself.  Note that the export works correctly.

For example, a DropDownList datatype with options { Alias | Name } { 0 | Option 0 }, { 1 | Option 1 }, { 2 |

[2015-09-10 19:28] KevinJump commented on #3
HI I need to get my head around this.

A normal `Umbraco.Dropdown`. stores the value in the content, so if we have a list with

[code]
then the content config might store...
[code]

with this it doesn't matter about mapping IDs because the list is storing the value not the id?

however a list of `Umbraco.DropdownlistPublishingKeys` does store the id, so when i have a list of

[code]
the content mi

[2015-09-10 21:40] thecontrarycat commented on #3
Ah, I see the confusion.

With the DropDownList and RadioButtonList datatypes there are several different fields we might use as a value.

`Id` is the *primary key* in the `cmsDataTypePreValue` table - this is an identity and will usually be different on different systems
`Value` is the textual representation that is shown in the content editor
`Alias` is a *secondary id* for that datatype only an

[2015-09-10 21:47] thecontrarycat commented on #3
I just did a test with Umbraco.DropdownlistPublishingKeys and the behaviour seems to be the same as Umbraco.DropdownList.

I wonder if this is a change somewhere along the way and it used to store the Value instead of the Id?

Either way, this is the behaviour I'm seeing in 7.2.8 and 7.3.0 RC and as uSync 3 depends upon 7.3+ we should be able to assume that this will be the behaviour from now on.

[2015-09-11 08:26] KevinJump commented on #3
Ah,
I hadn't noticed the change in how the Alias was being stored, previously the alias was auto incrementing on these types.

makes sense now :smile:

[2015-09-11 11:10] KevinJump commented on #3
Right, i think i've gotten this now,

I have split the mappers off into a Mappers folder, so this can be made a bit more flexible if we need to map more things,

so now we have:

- A Datatype mapper, that takes values, and turns them into aliases.
- A DataTypeKey mapper that takes internal ids and turns them into alias.
- the contentMapper that does the content ids inside text and the like.

I've

[2015-09-11 15:51] thecontrarycat commented on #3
Confirmed as fixed

[2015-09-11 17:20] KevinJump commented on #3
:tada:

[2015-09-11 17:20] #3 closed

[2015-11-23 08:46] vivekdhami opened #6 "Value cannot be null exception at startup"
I am getting value can not be null exception at startup. As a result usync sync fails.

Following is the stack trace:
[ArgumentNullException: Value cannot be null.
Parameter name: value]
   System.Xml.Linq.XAttribute..ctor(XName name, Object value) +90525
   Umbraco.Core.Services.EntityXmlSerializer.Serialize(ILanguage language) +271
   Umbraco.Core.Services.PackagingService.Export(ILanguage langu

[2015-11-23 10:11] vivekdhami commented on #6
2015-11-23 00:09:11,103 [P10444/D13/T12] INFO  Jumoo.uSync.BackOffice.Logging - Running Import: Languages
 2015-11-23 00:09:11,118 [P10444/D13/T12] ERROR Umbraco.Core.CoreBootManager - An error occurred running OnApplicationStarted for handler Jumoo.uSync.BackOffice.uSyncApplicationEventHandler
System.ArgumentNullException: Value cannot be null.
Parameter name: value
   at System.Xml.Linq.XAttribu

[2015-11-23 10:29] vivekdhami commented on #6
Seems like an issue while syncing language items at startup. A migration problem probably from previous usync version to v3.0. Disabling LanguageGandler is a workaround for now.

[2015-11-23 10:33] KevinJump commented on #6
Hi,

the umbracotracelog (in app_data/logs) might point to which language file is causing the fault, (you can also turn on debug in the config/log4net.config file and get a lot more debugging,

If you can find which of your language files is causing the issue, i could have a look at reproducing it, and seeing what i can do. (at a guess i think it will be character encoding)

what languages does yo

[2015-11-23 10:53] vivekdhami commented on #6
Hi

I will turn on debug to see the exact cause. However if you look at the image below Language folder contains uSync files from previous version and uSync/Data/Languages contains the one from v3.0.

![image](https://cloud.githubusercontent.com/assets/3636916/11334875/415b6034-91d8-11e5-8bea-a4a01eb3a994.png)

Somehow uSync is not generating files for all available languages.

Also this is the co

[2015-11-23 12:12] vivekdhami commented on #6
This is after enabling debug logs in log4net.config:

2015-11-23 12:08:39,634 [P5028/D21/T21] INFO  Jumoo.uSync.BackOffice.Logging - Running Import: Languages
 2015-11-23 12:08:39,634 [P5028/D21/T21] DEBUG Jumoo.uSync.BackOffice.uSyncAction - Getting Actions: for type Umbraco.Core.Models.ILanguage from 0 actions, found 0
 2015-11-23 12:08:39,649 [P5028/D21/T21] ERROR Umbraco.Core.CoreBootManager -

[2015-11-23 15:13] gmanrodt opened #7 "After delete of content Node, Umbraco throws Exception"
If you delete a content node from Umbraco (v7.3), then restart Umbraco (by modifying the web.config), on reload of the Umbraco backoffice or Front Office, we receive an exception which states: "Cannot insert duplicate key row in object 'dbo.umbracoNode' with unique index 'IX_umbracoNode_uniqueID'. "

This seems to be caused by uSync (ContentEdition v3.0.0) trying to insert the content node even th

[2015-12-01 10:59] basemj opened #9 "media items not mapping correctly to content"
I'm trying to use uSync to migrate content alongside its media from one umbraco installation to another.

I have installed uSync.BackOffice.3.0.2 and uSync.ContentEdition.3.0.0 on an Umbraco 7.3 on both installations.

I can manual export from one installation and then manual full import on another by copying the files over to the "\uSync\data\" folder.

Everything is copied over as expected, exce

[2015-12-04 10:54] KevinJump commented on #6
Hi are you bringing the language files over from an older version of umbraco / uSync ? If so what version(s) ?

I've tried importing languages from v7.2.7 (usync 2.5) and its working for me :(

[2015-12-04 11:31] KevinJump commented on #7
yeah.

uSync should delete the file when you delete the content node (doh!)

looks like there is also a situation where a save can be fired on the trashed item, which gets it written back to the usync folder.

Fixes in [192701c527cc5a9d81c97d66c5b584ec55d25671] are
* make sure we delete the right file on trashed (path was wrong)
* only save non-trashed items to disk on save.

I'll push out a new u

[2015-12-04 11:48] KevinJump commented on #9
Hi,

at the moment there are issues with media where it is embedded into the content (e.g an image cropper where you upload the image directly in the content - umbraco doesn't create a media item for this media so usync doesn't then pick it up : (

I need to put some better finding of this stuff, but essentially when you look at the resultant usync files you see references to /media/[number]/image

[2015-12-16 11:53] KevinJump commented on #9
**fixed in :** ebfff81aa028d799a1eccb4bf87b228aa77c56f9
**will be in release:** 5.2 of core (soon)

Hi,

I've done some digging and realized there might actually be a simpler way to import media.

Since Umbraco 7 - the ids of the folders in media are actually taken by just incrementing the on the highest existing folder (it use to be an internal prop id). this means you can just copy the media fol

[2015-12-16 12:00] KevinJump opened #10 "File Watcher Imports doesn't work"
The File watcher import - (import when files change on the disk) isn't currently working.

setting   `<WatchForFileChanges>true</WatchForFileChanges>` in uSyncBackOffice.Config, should cause uSync back office to perform an import shortly (8.128 seconds) after an *.config files are copied into the usync folder.

at the moment this fails:

[code]

this is likely caused by issues with context from wi

[2015-12-16 12:05] KevinJump opened #11 "ActionLogger can fail, when writing out change log"
Annoyingly the actionlogger can fail and thow an exception when writing out the changes to the usync log. this is annoying because the actual export/import will have worked fine.

[2015-12-16 12:05] KevinJump commented on #11
fixed in : c95289f3f85f2a4b43e8462cb10cdbfedaeea6d0

[2015-12-16 12:05] #11 closed

[2015-12-16 12:05] KevinJump commented on #9
Fixed - (will be in next release)

[2015-12-16 12:05] #9 closed

[2015-12-16 12:06] KevinJump commented on #7
Will be in next release (being built today)

[2015-12-16 12:06] #7 closed

[2015-12-16 12:07] KevinJump opened #12 "Reduce Licence logging"
When uSync looks for the goodwill licence, it logs a info line to the log file.

this is apparently annoying :)

[2015-12-16 12:07] KevinJump commented on #12
fixed in afa8a5524709a91be0fbe68862b7452d68b7595a now logs a debug line. (so if off for most people)

[2015-12-16 12:07] #12 closed

[2016-01-08 16:35] thecontrarycat opened #13 "Media import puts files in wrong folder"
# Importing Media from usync\data\media
Assume you have a media item that has an umbracoFile property with a value of "/media/1084/image.png" and an associated _usyncMedia folder containing image.png.

## On the first pass:
- The media item is created
- The file is uploaded to the media item
- The media item is saved
- The umbracoFile property is set to the new path that Umbraco has uploaded it to

[2016-01-08 17:03] thecontrarycat opened #14 "MultiNodeTreePicker StartNode is not getting set correctly"
# Importing DataTypes from usync/data/DataType
Assume you have a DataType that represents a MultiNodeTreePicker set to pick a particular document type beneath a particular start node in the content tree:
[code]

Note that MapGuid="1" is correctly set on the PreValue containing the id of the startNode.

## When Importing:
- DataTypes are imported *before* Content (by necessity as the properties on

[2016-01-08 17:14] KevinJump commented on #13
doh, I think i've also slightly complicated it by adding the  `<MoveMedia>true</MoveMedia>` option which doesn't do the media file import but lets you copy the media folder over thus preserving the umbracoFile from the source site is preferable.

Option 1 is almost what the MoveMedia Option does - but you have to copy the media folder. (see https://github.com/KevinJump/uSync/issues/9#issuecomment-

[2016-01-08 17:25] KevinJump commented on #14
yeah DataTypes should have a second import, this is how usync 2.x does it. but v3 loads handlers with priorities and then runs them through in that order.

I either need to make all the second pass imports happen after all the first pass ones (this might work, but introduces the risk of partial failure leaving a lot of things half set), or get a way of the DataTypeHandler registering itself twice

[2016-01-11 09:35] thecontrarycat commented on #13
Confirmed that moving ImportFile to the second pass fixes my issue

[2016-01-11 10:59] KevinJump commented on #13
yeah. - Will roll this up into the next release.

[2016-01-11 10:59] #13 closed

[2016-01-12 16:20] #14 closed

[2016-01-22 18:59] heilc opened #18 "Deleted content item throws error on Import"
In my Umbraco 7.3.0 site I am getting an error when I delete an item from the content tree (moves into recycle bin) and do a full import.

The error:
Cannot insert duplicate key row in object 'dbo.umbracoNode' with unique index 'IX_umbracoNode_uniqueID'. The duplicate key value is {guid}.
The statement has been terminated.

The nuget packages I have installed are
-uSunc v3.0.3
-uSync.Core v5.1.0
-

[2016-01-25 02:52] heilc opened #19 "Error deleting row from cmsPropertyData"
I am getting an error that is a little hard to reproduce but I think I can explain what is going on. Basically uSync is trying to delete a property type but is unable to because there are items in cmsPropertyData that are constraining it. These items have the gridview data for a page we started early in the project; later we removed the gridview but the entries in the database remained. uSync does

[2016-01-27 09:52] KevinJump commented on #19
Hi can this be deleted via the back office ? uSync doesn't actually go direct to the DB it goes via the core umbraco APIs so it's probably something inside the core - it's possible we are not calling the API in the right way. but my first check would be to see if umbraco can even delete something.

[2016-01-27 10:26] KevinJump commented on #18
yep, uSync wasn't coping with the trashed content nodes properly.

adding support - if the imported node is found in the trash then the content is untrashed and all the properties are set on import (if we do this we keep the internal GUIDs of the content so all the mapping can still work)

will be in next release.

[2016-01-27 10:35] KevinJump opened #20 "Datatype Values blank if the mapped id cannot be found"
for datatypes where there is a mapped id, usync will have a go at finding the ID on the target system, if the target content/template etc doesn't exist - uSync will blank the field.

https://our.umbraco.org/projects/developer-tools/usync/usync/73681-usync-resets-contentpickers

change behavior to just leave in the value whatever you found?

[2016-01-27 11:59] KevinJump commented on #20
fixed in 3.0.4

[2016-01-27 11:59] #20 closed

[2016-01-27 12:00] KevinJump commented on #18
Fixed in latest release batch (content v3.0.1) (released now)

[2016-01-27 12:00] #18 closed

[2016-01-27 14:11] ghost commented on #19
I wouldn't be surprised considering the grid view is
still relatively new. Is there a way to catch these database errors cleanly
without stopping the sync to return the asp.net error page?  Something like
if "about page" in my content tree fails to sync I see a red x in the
report and the sql error message in the details but the rest of the sync
carries on. Then I would know where to look. Or if m

[2016-02-08 14:55] KevinJump opened #22 "ISyncPostImportHandler - Handling post import actions"
a recent [change](https://github.com/KevinJump/uSync/pull/16) added the ability to have a "SecondPass" handler that was called at the end of the import process so that you could do things once all imports had being performed.

for v7.4 I am looking at changing this so you can extend existing handlers to be called post import to do anything that may need doing.

The basics of the flow are:
- Curren

[2016-02-08 15:05] KevinJump opened #23 "Handler Folders For ContentTypes, MediaTypes and DataTypes"
Umbraco 7.4 Introduces folders in the Document types, media types and data types trees, support is needed to handle these `EntityFolder` items in exports/imports

[2016-02-08 15:06] KevinJump commented on #23
Support in Dev Branch https://github.com/KevinJump/uSync/commit/57bf7b32a078a18deedcf7954e10eccb6a62a58c

[2016-02-08 15:06] #23 closed, assigned to KevinJump

[2016-02-11 13:25] KevinJump opened #24 "Angular Dashboard -"
Update the Dashboard from a nasty old ascx file to jazzy angular.

[2016-02-11 13:27] KevinJump opened #25 "Change Details"
Enhanced change details, so you can looking side an item and see what is changing.

[2016-02-11 16:14] KevinJump commented on #24
Completed in https://github.com/KevinJump/uSync/commit/bcdb18a896a4b1ac8385cc1ddb73d22f0a486689

[2016-02-11 16:14] #24 closed, assigned to KevinJump

[2016-02-11 16:15] KevinJump commented on #22
Done : )

[2016-02-11 16:15] #22 closed, assigned to KevinJump

[2016-02-11 16:15] KevinJump commented on #25
Complete for the core uSync Handlers (not for contentEdition just yet)

[2016-02-11 16:15] #25 closed, assigned to KevinJump

[2016-02-12 13:09] dgg opened #26 "Prevent update of Dictionary entries"
Hi we are using Dictionary to localize labels in our application and uSync to push entries between environments.

Our workflow workflow is as follows:
1. developers create entries for the labels needed for the feature in hand
2. developers populate the default language
3. entries get to the production environment eventually
4. content editors translate those labels to all languages

Those translat

[2016-02-12 13:18] KevinJump commented on #26
Hi,

yeah - making handlers a little more nuanced is on my wish list :)

If you want to write a custom version of the handler, then you just need to have something implement ISyncHandler.

uSync should pick up anything that implements that at runtime. All handlers are on by default (the entry in the uSyncBackOffice.config isn't needed - unless you want to turn the handler off)

If you took a copy

[2016-02-16 07:56] dgg commented on #26
Hi Kevin,

Your approach was totally spot on and so easy to implement. I wrapped the existing `DictionaryHandler` into a `CreateOnlyDictionaryHandler` and disabled the out-of-the-box one in configuration. Is this a good approach? Or should inheritance be preferred?

[code]

And the class that only creates new dictionary entries:

[code]

Feel free to use this code in whichever manner you see fit.

[2016-02-16 08:58] KevinJump commented on #26
yeah that looks cool, I wouldn't do inheritance, because you don't know what random stuff might get added in the future :)

long term (i'm writing all this here so i don't forget!) I am probably going to add IsNew to the core serializers - that will be very similar to the keyAlreadyExists - & I am going to sit down and work out all the possible options for the handlers and put some form of ISyncHa

[2016-03-04 10:46] jamiepollock commented on #26
Hi gents,
I've also had this issue and I found @dgg's code as a very useful starting point. Please see the following modifications to have the code work with nested items too as I found the other code is just for top level items.

The TryImportItem && TryImportChildren are there to capture if an item or a child item are updated. With my current setup (running uSync 3.0.2, uSynce.Core 3.0.0 on Umbr

[2016-03-10 09:31] KevinJump opened #29 "usync.once"
new version is missing uSync.Once.

usync looks for the presence of a usync.once file in the root, if it exists it runs through the import and then creates a usync.locked file.

when a usync.locked file exists no usync runs will occur.

not complex :) but needs to be added back.

[2016-03-10 09:48] KevinJump opened #30 "catchall / continue with errors"
previous versions also had a catch all errors and carry on setting. so that you never got a ysod from usync.

[code]

[2016-03-15 13:05] dgg commented on #29
does the usync.once needs to live under /usync or under /usync/data for artifacts to be synchronized?

[2016-03-15 13:07] KevinJump commented on #29
well its not there at the moment, but when this code is added - it will be under usync/data

[2016-03-15 13:42] KevinJump opened #31 "Doctype Changes incorrectly fire when compositions order has changed."
The order in which compositions are written out to the xml are inconsistent, and this can cause unnecessary change detection when running usync.

if you have two or more compositions in a doctype they will be written out to the xml on export

[code]

however the order is dependent on internal umbraco factors, so on a compare the order might be reveresed, this causes the file to be diffrent and usy

[2016-03-15 13:49] KevinJump opened #32 "Image Cropper Images are not always mapped"
Inside content image cropper images will contain path to a media item.

[code]

*_This should not be a problem if you use "MoveMedia = true" as you copy the media folder between sites, and the paths stay the same. *_

but for movemedia=false During export and subsequent import this media location should be mapped, we need a ImageCropper Mapper to map these values.

[2016-03-15 13:51] KevinJump opened #33 "ContentType: AllowedTemplates is not serialized"
When a content type is saved Allowed Templates is not being serialized

AllowedTemplates should contain all the non-default templates for a datatype. it doesn't

the de-serialization code appears to be there . will need to check it

[2016-03-22 10:05] Vrijdagonline commented on #29
Thanks for implementing this Kevin!

[2016-03-23 13:19] #33 closed, assigned to nobody

[2016-03-23 13:20] #30 closed, assigned to KevinJump

[2016-03-23 13:20] #31 closed, assigned to KevinJump

[2016-03-23 13:41] graham-w2 commented on #10
Yes seems to be because System.Web.HttpContext.Current == null in threads running from the FileSystemWatcher which is understandable.

Umbraco.Web.RequestLifespanMessagesFactory.Get() assumes that _ctxAccessor.Value != null but in this case it is null as UmbracoContext.Current only returns a value if the HttpContext exists. i.e. Umbraco assumes all changes happen within HttpContext.

Not sure if t

[2016-03-23 14:52] KevinJump commented on #10
i think it might require that usync builds up the bootmanager as is done in the umbraco console app examples. bit convoluted and not that fast to be honest. - but it will provide you with the context needed to do any changes.

[2016-03-23 15:03] KevinJump commented on #32
Have fixed imagecropper imports for media - _the import worked, but was 2 step the image cropper values weren't coming across in the first import. _

image cropper values inside content are a lot harder because the image mapper classes that would allow you to put media in the folder without creating a media item in the media tree are internal in umbraco :(

still going to recommend that MoveMedia=

[2016-04-05 07:40] JimBobSquarePants opened #35 "Child document types are not serialized."
Hola

Umbraco 7.4.1
uSync 3.1.0.740

Adding additional child document types through the permissions section in the doctype editor does not persist the updated collection to the config files.

No errors that I can see are logged. If you need more info let me know and I'll dig around.

[2016-04-05 08:06] KevinJump commented on #35
yeah

this issue is fixed https://github.com/KevinJump/uSync/issues/33 but i just haven't had the time to test the release and push it out :disappointed:

if you [grab the dlls, from the last check in](https://github.com/KevinJump/uSync/tree/Dev-v7_4/umbPackage/uSync.BackOffice) they contain the fix, but i will try to squeeze the release out this week.

[2016-04-05 09:44] victorcea87 opened #36 "Issue with usync snapshots"
Hi,

I have added the snapshots package to my visual studio solution but when I deploy I can see these errors:

![image](https://cloud.githubusercontent.com/assets/2836729/14277519/be85128a-fb23-11e5-8755-d2a73e5a89ba.png)

And the snapshots are not working.

Any ideas why?

[2016-04-05 09:46] KevinJump commented on #36
Hi

did you add the package (via our.umbraco) or nuget ?

does you're deployed solution include the dlls ? (snapshots is in Jumoo.uSync.Snapshots.dll)

[2016-04-05 09:47] victorcea87 commented on #36
Via nuget and yes, the solution include the dlls, I can see the snapshots dll

[2016-04-05 09:51] KevinJump commented on #36
Hummm :confused:

i don't think it would need rebuilding / restarting as putting the dll there does that, but you only get a 404 from the URLs when umbraco can't find the controllers and the controllers are in that dll :disappointed:

do you have any more info either from the Chrome dev console or what happens if you put those URLs directly into your browser (so http://site/umbraco/backoffice.....

[2016-04-05 09:51] victorcea87 commented on #36
Just a second...I don't see that dll in the bin folder of the website...

[2016-04-05 10:02] victorcea87 commented on #36
Sorry, issue with the solution, the dll was not referenced in the csproj file :(

[2016-04-05 10:02] #36 closed, assigned to nobody

[2016-04-06 13:51] KevinJump commented on #35
fixed in latest release (3.1.2 / 5.3.3) of usync and usync.core

[2016-04-06 13:51] #35 closed, assigned to KevinJump

[2016-04-06 13:53] KevinJump commented on #32
Latest release fixes the mapping of image cropper values inside media values - but it doesn't fix the mapping of image cropper images as standalone properties of content (the functionality to do that is all internal inside umbraco, so not yet doable from usync).

release addresses other image cropper issues (such as maintaining the crop) but still recommend setting movemedia=false on installations

[2016-04-06 13:53] #32 closed, assigned to KevinJump

[2016-04-06 14:26] JimBobSquarePants commented on #35
Ah excellent. Thank you!

[2016-04-08 06:39] dgg commented on #29
This is not working for me....
I place a `usync.once` file under _\usync\data_ but when the application starts nothing happens: the artifacts are not created and the file is not renamed.

uSync.BackOffice 3.1.2.740

Is there something I am missing?

[2016-04-08 08:27] KevinJump commented on #29
yeah, thats me

Just checked and i missed a stupid thing in not mapping one of the file paths, properly, I've actually tested it this time, and I will roll it up into a release today.

I just need to check a couple of other, queries that may or may not be issues so i don't go around releasing 15 versions.

Kevin

[2016-04-08 08:48] dgg commented on #29
Awesome, I'll keep and eye on the new release...

Thanks!

[2016-04-08 10:38] KevinJump opened #37 "Datatype values don't always get saved."
the delayed save is back :cry:

when datatypes are saved Umbraco Fires the Saved event idependently of the properties getting saved, this means you can end up with missing settings in your datatype.

this use to be aproblem which it turns out hasn't gone away.

usync needs to re-add it's 4 second wait after save (uses timers and queues)

[2016-04-08 10:44] KevinJump commented on #37
done and released

[2016-04-08 10:44] #37 closed, assigned to KevinJump

[2016-04-08 10:44] KevinJump commented on #29
Hi, this is fixed in uSync 3.1.3.740 - Released now.

[2016-04-08 10:44] #29 closed, assigned to KevinJump

[2016-04-12 06:47] dgg commented on #29
Hi Kevin,

I must be doing something bad because it still does not work for me.
- The target environment (the one we want to import artifacts once) has this configuration:

[code]
- I copy the whole _/data_ folder from the source environment to the target environment
- Under the _/data_ folder in the target environment, there is an `uSync.once` file
- When the target application starts, nothing ha

[2016-04-12 07:45] KevinJump commented on #29
Hi

I think it's that you need to have Import set to true, so that the import happens on application start.

[2016-04-12 13:44] dgg commented on #29
If `<Import>` is set to _true_... what is the point of the `.once` file? The artifacts are going to be imported every time the app starts. The file is not needed.

I believe the `.once` file should override the `<Import>` just as it used to be.

[2016-04-12 14:30] KevinJump commented on #29
wait there i'll go check........ No - this has always been the way, :disappointed:

`Import` is true so that the import process gets kicked off every app start, **but** it only actually does anything there isn't a `usync.stop` file stopping it.

So with the `.once` file - import runs, no `.stop` so runs through at end `.once` is renamed to `.stop` for next time.

it worked like this with the old v

[2016-04-12 14:39] Vrijdagonline commented on #29
Agree. This is working perfectly fine. Just like it did in the old days ;)
I for sure love this functionality for deployments.

[2016-04-13 05:49] dgg commented on #29
You both are absolutely right and I could not be more wrong! :$

In the old configuration we have the configuration set to read: `<usync read="true" />`.
So, of course it does work and the `.stop` will prevent importing the next time the app starts.

Thanks a lot for the help and the awesome product.

[2016-04-13 07:42] KevinJump opened #39 "YSOD on import when doctype has same name as folder at same level."
When a Document Type has the same name as a folder in the document types the import fails with an error: `Sequence contains more than one matching element`

this is because we are looking for children of a folder, and finding more than one - because we are not looking for only folders.

to fix this the call for children needs to ask for only container items

[code]

[2016-04-13 07:43] KevinJump commented on #39
Fixed in commit: https://github.com/KevinJump/uSync/commit/72d78163dea51dbd4dddc9a20c1307ce49563dc0

[2016-04-13 07:43] #39 closed, assigned to nobody

[2016-04-20 10:35] ryanlewis opened #41 "OutOfMemoryException while creating a snapshot"
Admittedly, this is on a site with a lot of doctypes and templates.

On a 8GB PC and the site running in debug mode, I managed to get an OutOfMemoryException while trying to create a snapshot. The snapshot itself should have consisted of a composition doctype consisting of one tab and 5 properties, and changes to 2 doctypes adding the composition to its makeup.

The error appears as a simple messa

[2016-04-20 12:41] KevinJump commented on #41
Hi Ryan

is there anything in the umbraco logs in `/app_data/logs/` ?

the dashboard only really displays the reason, but usually the logs have more detail.

Kevin

[2016-04-20 13:30] ryanlewis commented on #41
Apologies, that really would have been useful for you first time round:

Actually observed two OOM exceptions in quick succession. Sample below:

[code]

What is interesting is that you see OOM coming from the Core at the same time. If uSync is not causing Umbraco to republish its XML cache, the distributed cache update instruction functionality in 7.3/7.4 could have meant that another developer c

[2016-04-20 13:35] KevinJump commented on #41
yeah it's a bit odd :worried:

if you are taking a snapshot, usync is just doing readonly things (so no publishing or saving inside umbraco). Its possible that something is leaking in usync and that has tripped some memory issues that it then looks like a publish or save has triggered.

As a guess how many doctypes, datatypes, etc do you think your site has, i might just create a site with loads o

[2016-04-20 14:37] ryanlewis commented on #41
We've managed to create an initial snapshot when first developing on this inherited site. We found the first snapshot resulted in 553 directories, 550 files total. We have also since done some additional snapshots since the initial one without issue (albeit slow). In total, we have 5 snapshots, the big one detailed above and 4 additional ones with reasonably minor changes (1-2 doctypes affected, 1

[2016-04-27 13:06] Mobsan opened #42 "Usync not syncronizing ContentType after creation."
Steps:
- Create content
- Usync the content to another installation
- Change the ContentType (Change Document Type)
- Usync the content to the same installation
  The type is not updated.

Suggestions (needs tweeking)
ContentSerializer:91

[code]

(the type variable is only used in the creation of the content)

The problem here is that FindContentTypeByAlias is a private function and not accessibl

[2016-04-27 13:27] Mobsan commented on #42
[code]

[2016-04-27 13:34] KevinJump commented on #42
yeah - i will add and test and see how that works.

[2016-04-29 09:35] KevinJump commented on #42
Fixed in code, will roll up into the next release.

[2016-04-29 09:35] #42 closed, assigned to KevinJump

[2016-04-29 09:38] KevinJump opened #43 "Map NestedContent"
uSync doesn't have a nestedContent Mapper, but adding one shouldn't be to hard (infact @madsoulswe has most of one written already).

[2016-04-29 12:18] madsoulswe commented on #43
I see now that some content don't get exported and renders errors when saving xml.
CDATA is needed on tinymce (html) and json, and almost everything? =)

Example:
type: RTE
alias: preamble

[code]

[2016-04-29 13:59] KevinJump commented on #43
yeah, its a bug in the logic calling the mapper i think.

it is unwrapping the cdata on sections that need mapping but then not putting them back.

[2016-04-29 14:07] KevinJump commented on #43
Hi

I think this is now working if you want to test then you just need the dll and .config from the core package.

https://github.com/KevinJump/uSync/tree/Dev-v7_4/umbPackage/uSync.Core
- I am just going to test a couple of things and wrap this into a release .

[2016-04-29 14:23] KevinJump opened #44 "Grid Mapper"
Currently content doesn't get mapped if it's inside a grid,

you can just throw the standard mapper at a grid and it will most likely work, but to be sure we should build a grid mapper

[2016-04-29 15:05] KevinJump commented on #44
this is similar to nested and archetype accept the grid can in theory have loads of other type stuff in it.

in the first pass - i am putting in the mapping for the core grid stuff so that's anything that has an alias of rte or media in the gird.editors.config. as they just map a value and id.

longer term we could push this out into a config (in usync.core.config) but we are getting quite niche

[2016-04-30 17:03] madsoulswe commented on #43
Tested it (on a pretty large site) and....

![its_working_star_wars](https://cloud.githubusercontent.com/assets/7071187/14937379/fb0895c4-0f05-11e6-8b35-ca5b218b2a61.gif)

[2016-05-02 11:36] madsoulswe commented on #44
Maybe default the grid-control-mapper should look for a "grid.{alias}"-mapper, so that you can make a custom mapper for ever grid-controller.

`<uSyncContentMapping Alias="Grid.{ALIAS}" Mapping="CUSTOM" CustomMappingType="{NAME}"/>`

In that way you wouldn't need a switch to check for mappers? =)

Example om types that I would want to convert:
https://our.umbraco.org/projects/backoffice-extensions

[2016-05-03 08:31] KevinJump commented on #44
that is a very good idea :100: makes it way easier.

[2016-05-03 10:51] KevinJump commented on #44
Still haven't fully tested this, (i.e not tested it)

I want to keep it backwards compatible, but also grid mappers need more settings - so i've added an settings property to the mapper config .

for grid mappers, it just points to the value that is mapped inside the `control` json of that grid element. most grid elements either have the ids in value or id (as in media). so i think this will cover

[2016-05-03 14:06] KevinJump opened #45 "Media Images not importing"
Migrated issue https://github.com/KevinJump/jumps.umbraco.usync/issues/61 from old repo:

@victorcea87

[2016-05-04 10:13] KevinJump opened #46 "Order of Sync Operations can cause YSOD"

[2016-05-04 10:15] KevinJump commented on #43
Slight bug - didn't work property if the nested doctype was formed of composistions (basically needs to call CompositePropertyTypes not propertytypes) - but that is fixed in the code now.

[2016-05-04 10:15] KevinJump commented on #43
Will be in next release (soon)

[2016-05-04 10:15] #43 closed, assigned to KevinJump

[2016-05-04 10:16] KevinJump commented on #44
tested and this is now, will be in next release

[2016-05-04 10:16] #44 closed, assigned to KevinJump

[2016-05-04 10:18] KevinJump commented on #45
Hi,

I can't reproduce on a clean install of umbraco just to clarify

this is just stuff in the media section.
- /media folder copied over.
- import of media items from the usync/data/media folder.
- the usync files in that folder have the /media/ paths in them ?
- media is either using image cropper or image as the control?

version of usync??

[2016-05-04 10:21] KevinJump commented on #46
This is potentially complex.

uSync / umbraco needs to know that the property it is putting on a doctype isn't used on any child composition types, and then either not do it, or do something about the child one _(Just deleting doctype properties can be quite destructive as it will remove all the content as well)_

I would assume the logic is somewhere in the core to stop you doing this - its not i

[2016-05-04 11:57] KevinJump commented on #46
Done, in latest release - will just do some perf checks before roll out

[2016-05-04 11:57] #46 closed, assigned to nobody

[2016-05-05 12:59] KevinJump opened #47 "Disabled Dashboard buttons during import/report"
The dashboard buttons should be disabled when running an import just to stop anything firing off.

[2016-05-05 13:01] KevinJump opened #48 "Report Content Edition Version"
Content Edition (or any addon) should report its version to the dashboard.

[2016-05-05 13:03] KevinJump opened #49 "Better update checking for content"
Content Serialization uses the update date for checking if content is new, the time written to disk can occasionally be out by a few milliseconds compared to that in umbraco, this means updates locally are flagged when they are not.

update checking to only apply if time is 1 second or more out.

[2016-05-05 13:03] #47 closed, assigned to KevinJump

[2016-05-05 13:03] #48 closed, assigned to KevinJump

[2016-05-05 13:03] #49 closed, assigned to KevinJump

[2016-05-05 15:10] KevinJump opened #50 "Vorto Mapper"
Content Mapper for Vorto.

On its own vorto usually wouldn't need a mapper, but if you embed datatypes that do need a mapper into a vorto then the vorto needs to trigger the mapping for each of its languages.

[2016-05-05 19:29] lucasch opened #52 "Media Item Master/Composition troubles"
I've been playing around with media types and folders and there appears to be some conflict with Master and Folder when exporting/importing media types.

Given the way the back office behaves, I don't think Master is really necessary or relevant for media types.  The back office never really supported inheritance of media items well, and now it looks like it doesn't even show the expansion arrows

[2016-05-05 19:37] KevinJump commented on #52
yes - The no inheritance on content types of the v7.4 beta wasn't fully rolled back on media types, as you say it's probably a case that we leave it to compositions,

I will review the folder stuff too, but that should work the same as content types.

[2016-05-05 19:40] lucasch commented on #52
Thanks, please let me know if there's anything I can provide / do to help out!

[2016-05-05 20:03] KevinJump commented on #52
I think it just took a bit of judicious snipping the dll in https://github.com/KevinJump/uSync/tree/Dev-v7_4/umbPackage/uSync.Core contains the compsition changes and the master stuff if you want to test.

[2016-05-05 20:22] lucasch commented on #52
It's looking good to me, thanks!

It's worth noting that if someone (like I did) had inheritance in their legacy uSync media files, that'll will no longer work.

[2016-05-05 20:26] KevinJump commented on #52
yes, that's the breaking change I suppose - but under umbraco 7.4 You can't do anything with those now inherited types? and if they can't be recreated on a new target site?

I'll have a quick check because with just the changes to the export (not writing out a master) I think the import still works. so then you could have the master on (an old) import - but that isn't going to create the structure

[2016-05-05 20:32] lucasch commented on #52
If the Master is populated on an old import file, it'll still get added to the MediaType path via DeserializeBase.  The MediaType will get created but it will be inaccessible (pathed under it's Master) and therefore uneditable in the back office which would require a DB transaction to fix.

[2016-05-05 20:34] KevinJump commented on #52
Ahh i get it, we could (as you have already said at the top) take the master (if set) and make it a composition.

[2016-05-05 20:39] lucasch commented on #52
Yes, that would be ideal in the case of MediaTypes.

I was looking at what it would take to refactor this as the DeserializeBase is shared between MediaTypes and ContentTypes so I figured I'd come here an investigate.  The Master handling could be split into the respective Serializer classes I suppose, and called after DeserializeBase?

[2016-05-05 20:43] KevinJump commented on #52
Yes It's a bit of a pain now they are different, the default media serialize behavior is to essentially overwrite the master as set in DeserializeBase - and you have to remember MemberTypes also calls the same base class, so we need to make sure we don't break them (if they are indeed working like this!)

[2016-05-05 21:09] KevinJump commented on #52
OK, this commit https://github.com/KevinJump/uSync/commit/d70d868c448152b02cc88251f3558049743e114d moves any master values into the compostion section, We can assume that the compositon section is empty becasue up until now we've never set it.

We also have to set the parent even when it's -1 because we might be moving something from it's previous location which would now be hidden.

[2016-05-05 21:45] lucasch commented on #52
This looks good.  I'll do some further testing in the morning as I have to sign off for the day pretty shortly.  Thanks for looking into this!

[2016-05-06 11:09] victorcea87 commented on #45
Hi Kevin,

Now usync is throwing this error:

![image](https://cloud.githubusercontent.com/assets/2836729/15071427/c0e4b7f8-138b-11e6-8e66-5fe1c3cf3b1b.png)

Is not too much explanatory I'm afraid...any idea?

[2016-05-06 11:43] KevinJump commented on #45
hi - anything in the logs ?

[2016-05-06 11:56] KevinJump opened #54 "Move Mappers to own dll"
There are quite a lot of 3rd party mappers in the core now, and every time a mapper gets added it changes the version of the core, which has a knock on effect for the version of back office, when there is no discernable difference to the core behavior of usync.

I am going to move the 3rd party mappers out of the usync.core into their own assembly - this can then be referenced, by usync.content, a

[2016-05-06 11:58] KevinJump opened #55 "Le Blender Mapper"
Mapper for the LeBlender Grid,

this one is a bit of a pain, because when we are exporting the grid we look for the editor alias, to direct us to the right mapper, however this is fluid for le blender (you can set it to what ever you want).

so out of the box, the mapper will need to be configured to find the right control after the user creates the le blender grid.

[2016-05-06 12:00] KevinJump opened #56 "Mapper Library - Package and NuGet"
The Third Party mapper library will need its own nuget package and it will need to be included as part of the usync.content edition package.

the only complexity is applying xslt transforms to the usynccore.config on install to add all the thirdparty config lines.

[2016-05-06 12:15] victorcea87 commented on #45
It's in azure so I'm not sure how to check the logs :S

[2016-05-06 12:18] victorcea87 commented on #45
Just a second, I got them and I can see this:

![image](https://cloud.githubusercontent.com/assets/2836729/15072767/65cc2522-1395-11e6-9cc3-09e884f5b384.png)

[2016-05-06 13:16] KevinJump commented on #45
Hi

i need to see a bit further down that error, to she where usync was when it was called. (are their any Jumoo.uSync lines below?

[2016-05-06 14:36] victorcea87 commented on #45
![image](https://cloud.githubusercontent.com/assets/2836729/15076188/b347d162-13a8-11e6-971d-33b1cf9fee44.png)

[2016-05-06 15:15] victorcea87 commented on #45
By the way, I will take profit to this conversation to ask you if there is any option to see the progress of uSync when is importing at the start, In my case it take ages to end (and most times with error). And while uSync is putting the data in SQL the site doesn't work, it returns a timeout...(is Azure)

[2016-05-06 16:14] victorcea87 commented on #45
I have seen other errors:

ERROR Umbraco.Web.Scheduling.KeepAlive - Failed (at "http://localhost:80/umbraco").
System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.WebException: Unable to connect to the remote server ---> System.Net.Sockets.SocketException: An attempt was made to access a socket in a way forbidden by its access permissions 127.0.0.1:80

[2016-05-06 16:46] victorcea87 commented on #45
I have discovered another thing. The undefined error only happens in Azure, locally it works fine. And the last comment in Azure logs is:

Jumoo.uSync.BackOffice.uSyncApplicationEventHandler - Running Import Report

I have activated the Debug logs for uSync and after the line before it checks all the elements with no errors! So...the only thing that could be is...timeout. The operation takes aroun

[2016-05-10 12:59] madsoulswe opened #57 "Content-mapping sometimes replaces year-date (YYYY) with ids"
We hade an issue where 2016 (and other dates) was replace all over the site

Example page, som these were replaced with id's
[History page](http://valutec.ca/about-valutec/history/)

[2016-05-10 13:33] KevinJump commented on #57
Yep,

the content mapper for tiny MCE is a bit blunt at the moment, it needs to be updated to use better RegEx Expressions to capture Ids inside the content .

For my reference: the following gets locallinks in a tiny mce editor

`localLinkRegex = @"((?<=localLink:)([0-9]+)|(?<=data-id="")([0-9]+))";`

[2016-05-10 14:28] KevinJump commented on #57
This update - should fix this - it's wrapped up in some other Mapper Updates, but when they are done, this will be released too.

[2016-05-10 14:28] #57 closed, assigned to nobody

[2016-05-10 14:30] KevinJump commented on #55
In Commit : 4dabd8c23f4d7b9660583376c61398e069ac1252

[2016-05-10 14:30] #55 closed, assigned to KevinJump

[2016-05-10 14:30] KevinJump commented on #54
Commit: 3dfe637ee6a2e79bc10e7081fb535c09e3504288

[2016-05-10 14:30] #54 closed, assigned to KevinJump

[2016-05-10 14:31] KevinJump commented on #50
in commit: bf024ddf07b4ae38b9f1d3db8dea42013e9ae14c

[2016-05-10 14:31] #50 closed, assigned to KevinJump

[2016-05-10 14:32] KevinJump commented on #56
Mostly done: in 3dfe637ee6a2e79bc10e7081fb535c09e3504288 but needs quite a bit of testing, this will contain some breaking changed to usync core configs, so need to see what upgrades will actuall do to things.

[2016-05-10 16:25] KevinJump commented on #45
Hi

I am going to have to have a look at this on azure at some point, the strange thing with the logs is how the media serializer just keeps looping. someone reported a similar problem with the localgov starter kit package which was importing its sample content multiple times, I am not 100% sure what is causing it to do that, but i will have a look into it.

[2016-05-10 19:19] lucasch opened #58 "Target consistent .NET framework version"
I've noticed that the uSync projects are targeting a mix of .NET framework 4.5.1 and 4.5.2.  Would it be possible to just target 4.5 across all the uSync projects?  It doesn't appear there is any specific need to target a later version.

I ask because we have use uSync in our own custom sync controller that toggle handlers based on the sites' needs and we're still using framework 4.5.  I'm current

[2016-05-10 19:44] KevinJump commented on #58
yep - thats something i should sort out!

[2016-05-10 19:50] KevinJump opened #59 "More Control Over Handlers"
Better Control over how handlers behave on a import / export

I know some people have a create only directory handler, so it would be nice to be able to do that type of thing via the config.

Just while i am working this out any comments are welcome.
- IsNew - to serializers to allow create only option
- ability to have named handler groups ? so you could call the import programmatically with a ha

[2016-05-10 19:50] KevinJump commented on #58
As an aside, I want to improve control over the handler section, so any thoughts on that would be great. https://github.com/KevinJump/uSync/issues/59

[2016-05-10 21:01] lucasch commented on #59
I can outline a bit of how we're programmatically using the handlers, but it might be too specific to our case.

We use a combination of a custom controller (that serves as a proxy for uSync and any of our custom migration) and command line tool to do our automated deployments and patching (we have ~175 sites).  The command line tool has an XML spec file that specifies which usync operations to pe

[2016-05-16 15:33] KevinJump commented on #58
Merged into both branches of current dev, will be true on the next release

[2016-05-16 15:33] #58 closed, assigned to KevinJump

[2016-05-16 16:50] KevinJump commented on #56
Tested new package as download, and nuget install and update, all seems to be working as expected.

[2016-05-16 16:50] #56 closed, assigned to KevinJump

[2016-05-17 14:31] lucasch opened #61 "Allow conditional removal of missing properties"
As I mentioned in my comment to #59, I have a use case where I need to leave properties that in are Umbraco (but not uSync configs) in tact.  I'd like to have a way to specify, on the handler, whether the deserialize operation should remove properties or not.  This really only makes sense on the ContentType and MediaType serializers.

I've been trying to come up with clean methods to do this and I

[2016-05-17 17:55] KevinJump commented on #61
Yeah

I think it needs passing on to the serializers as the import is processed, because that's a bit more thread safe than passing it to the init() functions.

I think it's probably going to be a case of extending the ISyncSerializer class to pass this in. Thinking about it it might make sense to move from passing in individual config params, (like the force param,)  and move to a setting class -

[2016-07-27 08:48] KevinJump opened #62 "YSOD with Membertypes When upgrading umbraco"
An upgrade of umbraco from v7.3 to v7.4 can cause a YSOD when working with member types.

https://our.umbraco.org/forum/getting-started/installing-umbraco/75046-nuget-upgrade-737-to-74-errors

pre v7.4 membertypes had a guid value but it wasn't getting set so it might be . 00000000-0000-0000-0000-000000000000.

subsequently usyncs lookup by guid fails.

[2016-07-27 09:18] #62 closed, assigned to KevinJump

[2016-07-29 16:51] LoganLehman opened #63 "uSync 404 Error (using NuGet Package Restore)"
I am running into an issue where after performing NuGet package restore (from a new pull of our branch) I am getting the following error from the developer section:

**Request error**: The URL returned a 404 (not found): _backoffice/uSync/uSyncApi/GetSettings_

![usync_error](https://cloud.githubusercontent.com/assets/1081678/17254319/275e0a2e-5569-11e6-88fd-b2a840f1ff23.png)

It works fine on my

[2016-07-29 17:07] KevinJump commented on #63
Hi

sounds like the old dashboard, is still there, but that's probibly something in the nuget package not upgrading properly. I'll have a look.

you don't however need uSync and uSync.Backoffice, they are in effect the same package _(this just prompted me to actually figure out how to fix that too. I am going to make BackOffice an empty nuget package that just has uSync as an dependency)._

[2016-07-29 17:10] LoganLehman commented on #63
@KevinJump ,

Thanks for looking into this! I will look for a workaround in the meantime as well.

[2016-07-31 13:53] KevinJump commented on #63
Hi i think it might be because the upgrade has left the dll Jumoo.uSync.BackOffice.ui.dll in the bin folder,

this dll isn't needed anymore (the ui stuff has been put into the main dll). so i think if you have this DLL you can just remove it.

[2016-07-31 13:56] KevinJump opened #64 "Tidy up uSync Dashboard"
At the moment each bit of uSync that needs it gets its own dashboard tab.
also it's hard to tell when ContentEdition is installed.

Merge the dashboards. into one.

[2016-07-31 13:57] KevinJump commented on #64
Tabs inside the usync dashboard.

![image](https://cloud.githubusercontent.com/assets/431231/17276948/05daf3b8-572f-11e6-9e3b-47942c262807.png)

any class implimenting IuSyncTab can pass a name and template url and be added to the tabs.

Content Edition and
Snapshots have been updated to do this.

[2016-07-31 14:09] #64 closed, assigned to KevinJump

[2016-08-02 16:23] #52 closed, assigned to nobody

[2016-08-02 16:26] KevinJump opened #65 "YSOD doesn't show full stack"
On those shockingly rare occasions when you get an error deep inside uSync on startup, the resulting YSOD doesn't show the full stack trace.

just need to make sure we are throwing things properly.

[2016-08-02 16:26] LoganLehman commented on #63
@KevinJump

I will go ahead and check this out soon and get back to you. Thanks for the reply.

[2016-08-02 16:26] KevinJump commented on #65
Fixed in 73f50276fd44d437d3de9bdd46f17ed828d2e6cc

[2016-08-02 16:26] #65 closed, assigned to KevinJump

[2016-08-02 16:33] KevinJump commented on #63
yeah - I have moved this for me, because i haven't yet had a chance to look at making the nuget package do it in the last release - but if ui dll is there and you remove it - that should fix it.

[2016-08-02 19:55] LoganLehman commented on #63
@KevinJump,

I do not have the .ui.dll in my bin folder, and neither to the other machines that I restored to (my coworkers machines). Unfortunately, we may be barking up a weird ally. Here is my references and bin:

![jumoo](https://cloud.githubusercontent.com/assets/1081678/17342980/669fdcae-58b0-11e6-9511-ac8cd5656841.PNG)

![jumooref](https://cloud.githubusercontent.com/assets/1081678/17342981

[2016-08-02 20:05] LoganLehman commented on #63
@KevinJump - In accordance to this statement, I removed the USync.BackOffice NuGet project from my project, and it completely removed my App_Plugins/USync folder, and now the dashboard will not load.

[2016-08-02 20:10] LoganLehman commented on #63
I take that back, I updated from the latest NuGet package, and it restored the USync folder. However, now I am getting a dashboard configuration error (it created a duplicate - **I fixed it but just to let you know**):

![servererrorconfig](https://cloud.githubusercontent.com/assets/1081678/17343441/89057612-58b2-11e6-85f9-0133f2178b49.PNG)

Onto testing NuGet Restore on other machines

[2016-08-03 08:03] KevinJump commented on #63
yeah, the package is using .transform files. but i think it will be more reliable if it used xdt files (which is how i've just done the content mappers package)

I will have a look at that, i think they will be more reliable. in adding/removing the sections

[2016-08-04 13:27] KevinJump opened #66 "Content renames leave orphaned folders"
Affects: Content Edition.

The NameChecker that cleans up folders after a rename, isn't finding the GUID key values in content files so isn't doing the tidy up.

Just need to update the nameChecker GetKey to also do this

[2016-08-04 13:42] KevinJump opened #67 "Url Redirect (7.5.0)"
7.5.0 Introduces URL Redirect.
- URL Redirects are created every time a node url changes,
- They are set onPublishing
- The redirectURLService allows you to look at them,
- When you change a node name and publish it **and all child nodes get a URLRedirect set**

Need to integrate this into Content Edition so Redirects are captured on exports, and publish events.

[2016-08-04 13:57] KevinJump commented on #67
Initial Version: (based on 7.5.0.beta2) c007ef4a97e37cfbc088063850373483d5dcc9e6

[2016-08-05 16:09] KevinJump opened #68 "Cannot set values in content of wrong type"
from v7.5.0 you can't set the value of content if it's the wrong type (e.g put a guid in an int value).

see https://github.com/KevinJump/LocalGovStarterKit/pull/4

in uSync this might happen if a mapping hasn't gone right (so we have a guid for something that isn't a guid on the target system). usually these work themselves out as the second pass import occurs,

on 7.5 they will break the import

[2016-08-05 16:09] KevinJump commented on #68
84efcd9af1cb09fa30475efe7f126c41e0e2628d and a5efd61b0e3b1846320d65b31c52f24f006e444e

[2016-08-05 16:09] #68 closed, assigned to KevinJump

[2016-08-05 16:10] #66 closed, assigned to nobody

[2016-08-08 23:16] LoganLehman commented on #63
I have confirmed this to be resolved. Thanks @KevinJump

[2016-08-08 23:16] #63 closed, assigned to KevinJump

[2016-08-09 11:26] KevinJump commented on #59
some new bits of handler logic in the update.

## 1. Handler Groups

Handlers can now be grouped by the Group="" attribute.

[code]

The default config will still work with this (Group defaults to Default, EnableMissing defaults to true)

it means we can have handler groups inside usync, so calling the Import/Export functions with the second group would only get you DataTypes and ContentTypes impo

[2016-08-09 14:15] lucasch commented on #59
This looks great!  I hope I can get some time to test this out this week as the non-destructive stuff will be a great help.  I had previously hacked in a stop-gap solution for us but planned to revisit.

[2016-08-10 17:38] KevinJump opened #69 "Add uSync Folder to list of folders when deploying"
the umbraco package has a nifty trick of including the umbraco & umbraco_files folders as part of the solution when you deploy. Even though they aren't in your visual studio solution.

this is done though the use of a umbraco.targets and umbraco.props file that are put into the solution when you install it via nuget.

we should add these settings for uSync so the usync folder is deployed too.

[2016-08-11 08:38] #69 closed, assigned to KevinJump

[2016-08-11 10:45] KevinJump opened #70 "Modular ISyncSerializers"
Dynamic loading of the ISyncSerailizers,

currently the ISyncSerailizers are hard wired when loaded, want to make it so we can load all available serializers into a list, then we can future proof it a bit by being able to load serializers dynamically.

this is how we are doing the redirect seralizer in 7.5.0. (putting the serailizer into ContentEdition will keep the core working the same for 7.4 a

[2016-08-12 09:42] KevinJump opened #71 "Content Update Dates can get confused by timezones"
For Content and media uSync compares modification dates to work out which thing (file or db) is more upto date. this can get a bit fuzzy with time update. So we just need to make sure we are always talking universial time.

[2016-08-12 09:45] #71 closed, assigned to KevinJump

[2016-08-12 09:46] KevinJump commented on #70
Seems to be working fine :)

[2016-08-12 09:46] #70 closed, assigned to nobody

[2016-08-12 11:13] KevinJump opened #72 "Datatype reporting speed improvements"
Make datatype report/import quicker (it can be quite slow sometimes)

[2016-08-12 11:18] KevinJump commented on #72
Datatypes are the slowest thing to compare and import , mainly because Lookups are slow (especially during boot) -

This update adds a datatype cache to the serializer that is loaded with all datatypes on boot - this is quicker than doing a lookup every time, but it does mean we also need make sure that we keep the cache updated should something be saved, we do this in the serialize,

the items in

[2016-08-12 11:18] #72 closed, assigned to KevinJump

[2016-08-12 11:54] KevinJump commented on #59
this is working nicely for the latest builds, nothing in the core really takes advantage of it (BackOffice using the Default group with EnableMissing=true), but once it's in there it can be used.

Will be in next release.

[2016-08-12 11:54] #59 closed, assigned to nobody

[2016-08-12 12:28] KevinJump opened #73 "Improved Language / Dictionary Change detection"
Language and Dictionary files are often mistaken as changed, when they haven't

manly because they contain Id values, that we don't need when syncing them.

[2016-08-12 13:19] #73 closed, assigned to KevinJump

[2016-08-18 15:21] LoganLehman opened #74 "uSync Startup Error"
Hey @KevinJump,

Got another one for you. I went ahead and pushed my changes yesterday to git and one of my team members pulled down and got this error:

![usyncerror](https://cloud.githubusercontent.com/assets/1081678/17779489/ac372e7a-651c-11e6-8ad5-7b7bba691485.jpg)

We can't even get into the Umbraco backend on his machine. However, on mine I can (where the changes originated from). I tried to

[2016-08-18 15:24] KevinJump commented on #74
Hi,

if you turn off, Import in the usyncbackoffice.config file you should be able to get into the back end of this umbraco install.

Can you have a look in the app_data/logs/umbracotracelog.txt for this and see if there is more of an error?

Kevin

[2016-08-18 15:32] LoganLehman commented on #74
@KevinJump,

The following seems to be all I am getting here (repeating every time we go to the backoffice):

[2016-08-18 15:40] KevinJump commented on #74
Hi

if you can add the following to the log4net.config and you will get more debugging from uSync, which might help us pinpoint which thing is causing the error.

`<logger name="Jumoo.uSync"><level value="Debug"/></logger>`

and If you bump that instance upto the latest uSync you might get a better error (you can just copy the uSync.Core.dll and uSync.BackOffice.dll from the latest package if you

[2016-08-18 15:54] LoganLehman commented on #74
Oh yeah,

We got a lot more after updating and putting in that logger. It's all in this text file here:

[error.txt](https://github.com/KevinJump/uSync/files/425343/error.txt)

[2016-08-18 17:26] KevinJump commented on #74
OK,

It looks like you have a duplicate GUID inside the DB.

the error is because Umbraco.Core.Services.ContentService.GetById(Guid key) is getting more than one content item for the same id : (

I'm not 100% sure how this occurs, usync looks things up by the key, so shouldn't then set the key to something that is already there - i will have to walk through the code.

in terms of fixing it, we wil

[2016-08-18 17:59] LoganLehman commented on #74
@KevinJump,

I will look on my coworkers machine and my machine to compared GUIDs. Might take me a little bit, but it may help you look in the right direction.

Logan

[2016-08-18 18:13] KevinJump commented on #74
Hi , i think

[code]

will find any duplicates in the db

[2016-08-18 18:22] kbbobiles commented on #74
@KevinJump

Hi I'm Kenneth. Logan's coworker. I executed your SQL command, but resulted in 0 rows.

Kenneth

[2016-08-18 18:23] LoganLehman commented on #74
@KevinJump,

I think my coworker is going to join in on the conversation, as I am unable to reproduce on my end (only on his machine). We received zero results from your query.

[2016-08-18 18:23] KevinJump commented on #74
:disappointed:  - I'll have a look see if i can work anything else out

[2016-08-18 18:26] LoganLehman commented on #74
Thanks @KevinJump. Sorry :(

[2016-08-18 18:35] LoganLehman commented on #74
If it helps, the actual content node data I have is very test-like (doesn't have anything I would be worried giving out). If you want, I can zip up the data folder.

[2016-08-18 18:43] KevinJump commented on #74
yeah feel free to drop me an email kevin@jumoo.co.uk

[2016-08-18 18:57] LoganLehman commented on #74
@KevinJump - Sent. Let me know if you received it or not.

P.S. - This is the dataset of my coworker whom is having the issue. Made sure of that.

[2016-08-18 18:59] KevinJump commented on #74
yep got it.

[2016-08-18 19:21] KevinJump commented on #74
Hi

As far as i can tell, the target database has a duplicate entry in one of the tables where it's not meant to. (still don't know how it got there)

with any luck one of these queries below should return a row. that will be where it is broken.

[code]

uSync doesn't actually go to the database directly (it does everything via the Umbraco API) - so i am trying to work through it somewhat.

As far

[2016-08-18 19:35] LoganLehman commented on #74
@KevinJump,

@kbbobiles has left for the day, and will be back tomorrow (we are PST) - I don't have access to his machine, so we will run these queries tomorrow. Until then, thanks for all of the hard work on this. It is much appreciated.

A food for thought, one of the changes to that node that occurred was a "move" in umbraco. I moved  "contract status report" node from "budget, purchasing & res

[2016-08-19 07:57] KevinJump opened #75 "Dictionary Export Broken in 5.5 core"
moved from v4 uSync : https://github.com/KevinJump/jumps.umbraco.usync/issues/63

[2016-08-19 07:58] #75 closed, assigned to KevinJump

[2016-08-19 08:11] KevinJump opened #76 "Content Sync can fail if template doesn't exist"
if for some reason there is no template or doctype, in usync and you try to create content of that type, you will get an exception

`No ContentType matching the passed in Alias: 'venue' was found`

just need to catch, and log as a warning.

[2016-08-19 08:12] #76 closed, assigned to KevinJump

[2016-08-22 15:04] LoganLehman commented on #74
@KevinJump

@kbbobiles ran the queries and found no results unfortunately. He reverted to a previous commit and it works fine, but the most recent commit of the uSync data seems to be causing the issue. We are still at a loss unfortunately.

[2016-08-22 16:00] LoganLehman commented on #74
@KevinJump - Please also note that I am also using uSync Content Edition to sync content tree as well. Assumed you would know since the nodes were generated.

[2016-08-22 16:34] KevinJump commented on #74
Hi yes - its part of the content sync that is causing the issue can you send me working and non working usync snapshots (i think i have the non working one)
I might be able to see something &/or recreate the error between the two.

[2016-08-22 16:43] LoganLehman commented on #74
@KevinJump

Sure thing. I happened to just noticed as I was going through commits (based on when it "broke"), that the uSync/data/uSyncActions.config was deleted. Does this happen naturally? It happened when I did a full export. The content inside was this:

[code]

[2016-08-25 09:21] KevinJump commented on #10
Just tried this again (um 7.4.3) and it seems to be working - I need to check a number of things, but i think there is a move to reduce the need for HttpContext in the core, and this might have had an effect on this.

[2016-08-25 09:37] KevinJump opened #77 "Content Edition Update Check"
Content Edition uses a diffrent match algorithm to the rest of the code.

for historical reasons content is matched based on updateDate so only newer things get synced, every other bit of usync just syncs regardless of update dates.

need to offer that option in content edition, because it makes sense and code will be simplier : )

[2016-08-25 11:35] KevinJump opened #78 "Dictionary Export Sort Order"
Make the sort order be consistent in Dictionary Exports.

this is the reason we moved away from the standard import, we just forgot to then add the sort line.

fixed in : 9c8303a2dfafd60c881b50eb273f94d650181804

[2016-08-25 11:36] KevinJump commented on #77
this also makes sure all new checks go through the same logic, so no more report says no update, but import does an update stuff.

[2016-08-25 11:36] #77 closed, assigned to nobody

[2016-08-25 11:45] KevinJump opened #79 "Handler Groups by Machine Name / Type"
Currently [handler groups](https://github.com/KevinJump/uSync/issues/59#issuecomment-238525487) are not used by the back office (it always picks default)

some ways of changing handler groups by machine name, type, etc... so in theory you can have
one config, but dev machines might do different things to stage, live machines...

not fully worked out, but maybe,
- AppSetting (so you can transform i

[2016-08-25 14:44] #41 closed, assigned to nobody

[2016-08-25 14:44] ryanlewis commented on #41
Been unable to replicate, closing issue.

[2016-09-02 13:02] KevinJump opened #80 "Deployment fails transforming Install\Views\Web.config"
After installing uSync and publishes from visual studio can fail .

`Could not find a part of the path  .... Install\Views\Web.config`

this is because uSyncs deployment target script is wrong :( need to remove

`$(CopyAllFilesToSingleFolderForMsdeployDependsOn);`

[2016-09-02 13:03] KevinJump commented on #80
also see : https://our.umbraco.org/projects/developer-tools/usync/usync/79726-getting-umbracointallviewswebconfigumbracoinstallviewswebconfig-not-found-after-intalling-usync

[2016-09-02 14:40] #80 closed, assigned to KevinJump

[2016-09-02 16:25] KevinJump opened #81 "Exclusive Imports"
From : https://github.com/KevinJump/jumps.umbraco.usync/issues/64

[2016-09-02 16:25] KevinJump commented on #81
yes - would be nice to have this as a setting inside the config, sort of strict match,

[2016-09-02 16:30] KevinJump commented on #81
This could also be done outside of the core usync now, without needing to build it in.
- You could attach to the usync events that fire when it has ran
- then you could run a full export of the existing site to another location on disk
- you could then compare the usync folder with this new export and get teh diffrences
- anything in the export not in the import could be added to your own usyncact

[2016-09-02 16:32] KevinJump commented on #81
in terms of core it does need to be optional, deleting a document type inside umbraco will also delete any content associated with that doctype, so a full match sync could destroy quite a lot of stuff if you didn't know what you where doing..

[2016-09-13 20:50] johnseto opened #82 "Error: An error has occurred. - The directory is not empty."
Just a heads up that this is occurring intermittently when click Full Export. Strangely the usyc/data directory does get cleared down and is empty when this message appears.

Sometimes a reboot sorts it or wait a while.

BTW: I have the latest release 3.2.2.740

[2016-09-14 09:01] KevinJump commented on #82
thanks,

I have seen this, if you have a file open (or maybe a command prompt) then i think the delete doesn't completely work and it throws the error. Need to put some better error control around the delete me thinks.

[2016-09-14 09:31] KevinJump commented on #74
Hi

So i've come back to this with a clearer head. I think you have found the issue there with the uSyncAction.Config being deleted on a full export.

the full export functionality was put in as a sort of 'start again' button - clearing everything down and giving you a clean install, but yes I can see if you already have synced things you might want to keep the action log around for deletes .

cur

[2016-09-18 11:36] KevinJump commented on #78
the order still isn't sorted :(

[2016-09-18 11:38] KevinJump opened #83 "Macro Properties - order incosistant"
the order macro properties is written out isn't consistent between installations.

at the moment we are using the package manager to export the values, and this doesn't do it
in a consistent way :(

we need to sort the properties by something before we write them out.

[2016-09-18 12:05] KevinJump commented on #78
order was sorting by key (guid) not ItemKey (name)

[2016-09-18 12:09] #78 closed, assigned to KevinJump

[2016-09-18 12:09] #83 closed, assigned to KevinJump

[2016-09-18 12:10] KevinJump commented on #10
going to test this for the next release.

[2016-09-19 13:56] KevinJump opened #84 "Custom Paramters for Content / Media Syncing"
In v3.2 we introduced ISyncConfigHandlers so we could pass handlers configuration info, as of yet none of the content handlers use this.

The most likely candidate for this feature is Content and Media Handlers, there have been a number of requests to start at a different node, or filter out content from the system (e.g don't sync my dev content)

content config is passed in the uSyncBackOffice.co

[2016-09-21 10:09] KevinJump opened #85 "Support for Short folder names in content and media"
often content and media folder names can get quite long and you might hit the 'MAX_PATH' and fail to save.

an option to use IDs as folder names should fix this ?

[2016-09-21 10:13] KevinJump commented on #85
In next release adding a handler setting to the Content or Media Handler with UserIdName will trigger this.

[code]

[2016-09-21 10:13] #85 closed, assigned to nobody

[2016-09-21 20:44] KevinJump commented on #79
worried going for machine name (via a HttpContext) will introduce a dependency that might make command line things not work.

[2016-09-22 08:40] KevinJump commented on #84
Not sure Include makes sense, when we already have root and Ignore. (root is essentially include?)

the ID based stuff may also be a bit of a performance hit, we can already do the path based stuff, because the path is something we calculate on export anyway, but going to get all the ids, would mean more sql and would slow the export (probably not by much?) - will need to do some performance testi

[2016-09-27 09:41] KevinJump opened #86 "Command Line"

[2016-09-27 09:43] KevinJump commented on #86
test (closing)

[2016-09-27 09:43] #86 closed, assigned to nobody

[2016-10-10 22:13] dinc5150 commented on #69
Hey Kevin,

All of a sudden I've been having issues with deploying my sites. All of a sudden it's deploying the whole uSync folder (where it had not originally). Thought it was something that I was doing until I saw this enhancement.

I develop locally and I selectively push snapshots up to the staging or live site, which had worked great, however I'm also now getting the uSync data being overridd

[2016-10-11 12:58] KevinJump commented on #69
Hi

I think (although i need to google a bit) you can add your own [exclude your own files from deployment,](https://www.asp.net/web-forms/overview/deployment/advanced-enterprise-web-deployment/excluding-files-and-folders-from-deployment) and they will override the targeted ones (or remove the uSync.targets references from the csjproj file?)

[2016-10-11 13:22] dinc5150 commented on #69
Thanks Kevin,
I played around with it today. I tried overriding it with a  .wpp.targets file, but it didn't seem to work (Probably me doing something wrong), so I resorted to commenting out the lines in the .csjproj which seems to do the job. Thanks for your help!

[2016-10-27 20:18] KevinJump opened #90 "Template renames can cause duplicates on rename"
Renaming a template can cause issues because the serializer is still looking for alias, and when this is gone, it will create a new template (and not remove the old one)

The solution is to look up templates by key and then if not found alias.

[2016-10-27 20:19] #90 closed, assigned to KevinJump

[2016-10-28 19:28] KevinJump commented on #79
going to go with the setting in usyncbackoffice.config for now.

[2016-10-28 19:28] #79 closed, assigned to nobody

[2016-10-28 21:39] KevinJump commented on #81
Need to remember to do content edition too .

[2016-10-29 19:19] KevinJump opened #91 "Change uSync Dependency, to UmbracoCms.Core from UmbracoCms"
I don't think we need to be dependent on UmbracoCms directly. not least because it makes developing
adds on a bit of pain because your class library gets all of Umbraco.

change the core dependency of usync.core from UmbracoCms to UmbracoCms.Core - see if it still all works!

[2016-11-02 00:09] ts-23 opened #92 "MultinodeTreePicker - Cannot search Listview children"
Hi there, fantastic work on Usync.

We seem to have encountered an inability to search for the children of a content node that is a listview when importing a document type containing multinode treepicker or content picker. Any ideas how to work around this would be greatly appreciated.

Thank you in advance.

![image](https://cloud.githubusercontent.com/assets/13111256/19912164/bc7f3366-a0ec-11e6-

[2016-11-02 12:16] JoseMarcenaro opened #93 "uSync Umbraco Forms definitions?"
Hi Kevin
Great job! uSync allows us to work as a team with separate databases in a seamless way.

Q: Would it make sense to support sync'ing Umbraco Forms definitions (not the form entries)?
If you think so, I may take a shot at implementing something and submitting a Pull Request.
Thanks,
Jose

[2016-11-02 12:23] KevinJump commented on #93
yes! (although i haven't looked are the form definitions stored in the db, or are they already on the disk?)

If you want to build it - I would start by looking at the ISyncHandlers.  https://github.com/KevinJump/uSync/tree/Dev-v7_4/Jumoo.uSync.BackOffice/Handlers

It doesn't have to be implement directly in the core, if you look at [ContentEdition,](https://github.com/KevinJump/uSync/tree/Dev-v7_

[2016-11-02 12:25] KevinJump commented on #92
Hi

does a search (in the backoffice in general) return the items in the list view? It might be that the Examine indexes have not been updated by the sync (but i am guessing a bit)

[2016-11-02 12:25] JoseMarcenaro commented on #93
Thanks for the clues!  I will start looking into that, and may contact you again to validate what I try to do before going much further. Thanks.

[2016-11-02 15:07] JoseMarcenaro commented on #93
Kevin, your first question went straight to the point:
- **the form definitions are kept on disk**, not in the DB
- so **there is no need to use uSync** to transfer them - just copy the files

The complete procedure for transfering a form definition from one Umbraco installation to another is:
- Copy the form file "{guid}.json" located in  /App_Plugins/UmbracoForms/Data/forms to the target website

[2016-11-05 17:32] #91 closed, assigned to KevinJump

[2016-11-05 18:08] #93 closed, assigned to nobody

[2016-11-05 18:08] #74 closed, assigned to nobody

[2016-11-05 18:09] #84 closed, assigned to nobody

[2016-11-05 18:40] KevinJump commented on #81
Having thought about this - it's a potentially dangerous change to just pop in to the main app - I am going to move it to its own dll , and have an add on if anyone wants to do this.

[2016-11-06 10:31] KevinJump opened #94 "Extra Import / Export / Report Events"
Some more events, so you can if you want know when any usync import/export or report is starting or has finished

[2016-11-06 10:31] KevinJump commented on #94
in 1f51e9b047498ac0bfb48007fb7376b57eaef866

[2016-11-06 10:31] #94 closed, assigned to KevinJump

[2016-11-08 12:11] TomSteer opened #95 "uSync content import bug with umbracoUrlName property"
Hey,
We have set the umbracoUrlName property on our root node to "/" so you can no longer get to it from both "/" & "/RootNodeName". However when usync export/imports content from under this node it seems to recreate it at the umbraco content root, rather than under the home node.
Thanks,
Tom

[2016-11-21 10:28] harvzor opened #96 "NuGet package missing package.manifest and JS files"
After installing a fresh copy of Umbraco 7.5.4, followed by installing uSync.3.2.2.740 onto the website using NuGet, an error occurs in the uSync BackOffice dashboard section.

An error message is shown at the top: `Error: {{errorMsg}}`

Looking at the console in Firefox:

[code]

After looking in the App_Plugins/uSync folder, I saw that only CSS and HTML files were present, no package.manifest or

[2016-11-21 10:31] KevinJump commented on #96
Hummm,

I'll have to look into that, because the package file looks like it has the js files in it. :(

![image](https://cloud.githubusercontent.com/assets/431231/20479331/b126abe6-afd5-11e6-98d1-741c61133c86.png)

[2016-11-21 11:12] harvzor commented on #96
@KevinJump It's been a while that this release has been the latest. Is it likely that it's only my system which has this fault? I feel like someone else would have picked it up otherwise.

[2016-11-21 11:15] harvzor commented on #96
@KevinJump Actually, looking at another website I have in production, it has the latest version (3.2.2.740) installed and it has the files which are missing from my new installation. It must be something to do with this particular installation.

I'll see if I can look into the issue sometime.

[2016-11-21 16:33] harvzor commented on #96
@KevinJump Thanks for the help here. Turned out it wasn't just your package getting the error as I found another package got pretty much the same problem too!

I cleared my NuGet cache with `nuget locals all -clear`, deleted any packages in my `packages` folder, and ran `nuget restore`. This time, all of the files were there.

Weird!

[2016-11-21 16:33] #96 closed, assigned to nobody

[2016-12-01 04:20] roend83 opened #97 "Macro with Content Parameter"
I have created a custom macro with a content parameter. uSync does not appear to try to translate the content ID when syncing the data to another database.  Is this a bug or is this not supported?

[2016-12-01 09:24] KevinJump commented on #97
Hi - yeah lets call it a feature :)

uSync doesn't do mapping of the content ids within the macro parameters (at the moment) :(

[2016-12-08 08:37] KevinJump opened #98 "Deploy Handlers -"
New set of handlers for deploying -

they write everything out in a flat folder structure, and use the guid as the key for the filename - this means there is little (no) messing about for renames, and moves -

upon delete the file isn't removed but marked as deleted meaning you don't get double imports if you can't delete the files from your target deployment location.

[2016-12-09 16:16] necoras opened #99 "CORS issue when attempting to import"
We've recently come across a CORS issue with usync. I'm able to go into the uSync Back Office tab and navigate around. I can run the report of all the things which have changed. However, when I attempt to import I see "Error: undefined - undefined" in the error bar. Additionally there's a CORS error in the console:

![image](https://cloud.githubusercontent.com/assets/14185060/21055675/0d6a0bb6-bdf

[2016-12-09 16:19] KevinJump commented on #99
Hi does the domain in the blacked out section match the domain in the browser ?

also i am suspicious of Flip script injected - but mainly because i don't know where that has come from :)

[2016-12-09 16:22] necoras commented on #99
The blacked out domain is our domain, and yes it matches the domain in the browser. It has an exception granted to it via our web.config. That was necessary to allow umbraco to load all of its fonts and the like from our web server.

The flip script is a Chrome plugin that I have which allows me to "flip" page objects by increments of 90 degrees. It can't be related as this was originally reported

[2016-12-09 16:26] KevinJump commented on #99
but that is the same domain as in the browser ?

I think a CORS issue will only happen if the script being called isn't on the same domain as the page it is being called from ? so unless they are diffrent /or something funky is happening i am not sure how you are getting the error

all of uSyncs dashboard elements are loaded from /app_plugins/usync on the server, and the calls go to /umbraco/usync

[2016-12-09 16:48] necoras commented on #99
Hrm. Interestingly the tab won't even load in Firefox unless I'm on the webserver itself. It must be a lot more picky than Chrome.

More confusingly (and infuriatingly), the import works fine with our Staging environment, but not our Dev. We must have some underlying environmental issue. I'll attack it from that angle. Thanks.

[2016-12-09 16:49] KevinJump commented on #99
Cool, if you do find something - give us a shout, it will help others if they have the same issue.

[2016-12-09 18:12] necoras commented on #99
Looks like it's an issue with a newly installed plugin. There's a package (Simple 301 I think) which is redirecting the incoming traffic from usync, which is requesting an http version of the page, to https and then back to http. That causes the initial CORS header to get lost.

Since asp.net only allows for a single CORS whitelisted domain we have to specify either http or https for the umbraco b

[2016-12-09 18:12] #99 closed, assigned to nobody

[2016-12-16 14:08] KevinJump opened #100 "Renaming Dictionary Items at root, results in duplicates"
Renaming the root dictionary item, can result in their being two of the dictionary item in the folder.

[2016-12-16 14:09] KevinJump opened #101 "Renaming a macro - results in a duplicate"
Renaming a macro gets you two copies of a macro.

[2016-12-16 14:58] #101 closed, assigned to KevinJump

[2016-12-16 14:58] #100 closed, assigned to KevinJump

[2016-12-16 14:59] KevinJump opened #102 "Moving a data type doesn't cause usync to save it to disk"
when you move a datatype it doesn't fire a save (because we don't trigger on the move event)

[2016-12-16 14:59] KevinJump opened #103 "Moving a DocType doesn't trigger a usync save"
moving a document type between folders doesn't cause usync to do a new save with the path in it.

[2016-12-16 15:00] KevinJump opened #104 "Moving a Media Type doesn't trigger a save of the usync file"
As with #103  and #102

[2016-12-16 15:04] #102 closed, assigned to KevinJump

[2016-12-16 15:04] #103 closed, assigned to KevinJump

[2016-12-16 15:04] #104 closed, assigned to KevinJump

[2016-12-16 15:09] KevinJump opened #105 "Deployment Handlers (beta)"
Deployment Handlers - A new set of Handlers for uSync BackOffice that deploy into a flat folder structure with the filename being a guid - that never get's deleted only overwritten.

Sometimes deployment mechanisms mean it's hard to clean the uSync folder as part of a roll out - this can be a pain becuase if you delete something, then uSync deletes the file. If your deployment system doesn't also

[2016-12-16 15:15] #98 closed, assigned to nobody

[2017-01-04 20:49] #105 closed, assigned to KevinJump

[2017-01-04 20:50] KevinJump opened #106 "Removing a composition doesn't get reflected in the sync"
if you remove a composition from a datatype it gets written to disk but doesn't get applied when you import to another instance of umbraco

see  : https://our.umbraco.org/projects/developer-tools/usync/usync/81625-remove-doctype-from-composition-with-usync

[2017-01-09 21:20] #106 closed, assigned to KevinJump

[2017-01-11 16:49] netaddicts opened #108 "uSync doesn't like null values on import (VortoContentMapper)"
Ran into issue while trying to save a document that has a vorto property wrapping an rte.

Repro path:
If you don't enter any text in any of the rte tabs, a null value gets stored in umbraco.config, hence uSync tries to derialize the value from json to an object but fails

Log entries
[code]

I'll fork and change the code tomorrow and send a pr afterwards.

Affected line: https://github.com/KevinJ

[2017-01-12 08:41] #108 closed, assigned to nobody

[2017-01-12 08:43] KevinJump commented on #108
thanks, i will roll this into the next patch release and push it out (prob next week)

[2017-01-12 08:44] netaddicts commented on #108
:+1: Looking forward to the release!

[2017-01-16 15:37] KevinJump opened #110 "Member Can Edit and Member can View settings not saved in member type."
See : https://our.umbraco.org/projects/developer-tools/usync/usync/82343-canedit-and-canview-not-being-serialized-for-membertype

member type can edit and can save are not working because the code, is using property name not property alias. and this is wrong. quick fix needed to use alias.

[2017-01-16 15:38] #110 closed, assigned to KevinJump

[2017-01-16 15:54] KevinJump opened #111 "Code Analysis Fixes"
Running uSync through SonarQube, and capturing the odd little thing to fix.

https://sonarqube.com/dashboard?id=Jumoo.uSync

most of them are really minor, but there will need to be some testing to check everything still actually works .

[2017-01-16 16:07] KevinJump commented on #111
fixed in a781d4ac83a666ebf9c93e780c1ba2ee2ec28749

[2017-01-16 16:07] #111 closed, assigned to KevinJump

[2017-01-16 17:50] florinlazau commented on #45
Hi,
How can i see log files in azure?
When I try to import i get this "nice" error.
![image](https://cloud.githubusercontent.com/assets/13690344/21993713/fd1eca3a-dc24-11e6-92c9-0e1715488fae.png)

Thanks

[2017-01-16 17:53] KevinJump commented on #45
Hi

If you can get to the app_data/logs folder in azure then usync will have logged any errors in the umbraco log file.
or
you can install the Diplo Log Viewer to see these in the back office.
or
If you open chrome dev tools (right click page inspect) open the network tab and reload the page, then you should see (in red) the request that fails, you might be able to explore to the error within chro

[2017-01-19 19:48] KevinJump opened #112 "Content Import - doesn't find the right node to import content under"
If you import content into the tree, when it doesn't already have a guid in the content tree - it can end up creating a duplicate node

Also if you import only one peice of content in the tree it can end up at the root for the same reasons - mainly because parentIds are not being passed as w go down the tree.

[2017-01-19 19:49] KevinJump commented on #112
hopefully 91c7a02a3d0fe44a93d8fbe656fecf0d40d99520 fixes this - it will need some release testing...

[2017-01-20 12:40] #112 closed, assigned to KevinJump

[2017-01-25 15:34] markwemekamp opened #113 "Membergroup export in usync?"
For a project I'm currently doing it would be nice to have a membergroup export in usync or usync content.

Is this somehting you've thought about and decided not to implement for good reasons or would this be a viable feature for the future?

[2017-01-25 15:42] KevinJump commented on #113
Hi Mark,

For me its purely a time thing - I don't think there are to many reasons why it shouldn't be doable - i just haven't had the extra time lately needed to write it 😞

Someone was talking about this a few weeks back https://our.umbraco.org/projects/developer-tools/usync/usync/82167-implementing-isynchandler-for-members but i am not sure if they did anything with it.

I do think its somethin

[2017-01-25 15:56] markwemekamp commented on #113
Hey Kevin,
Thanks for the feedback, I'll keep an eye on the our thread :)

I'll ask my employer if they're willing to pay for this feature. Maybe I'll even take shot at implementing it myself if time allows it.

[2017-02-02 07:56] aDotNetDeveloper opened #114 "Complex Document Type in DocTypeGrid"
Hi Kevin

currently using uSync 3.3.1.740 on Umb 7.5.4

When an array like property (Imulus.UrlPicker or Umbraco.RadioButtonList) is on a Document Type that is within a DocTypeGrid, this exception occurs on export;
[code]
This is the _value_ DocTypeGridMapper.GetExportValue() is getting - which is valid for a Imulus.UrlPicker
[code]
For Imulus.UrlPicker I'm using a custom mapper which verifies tha

[2017-02-02 08:07] KevinJump commented on #114
thanks, I will take a look

[2017-02-02 08:08] aDotNetDeveloper opened #115 "Exported Image IDs are GUIDs using VortoContentMapper"
Hi Kevin

currently using uSync 3.3.1.740 on Umb 7.5.4

Since enabling _Jumoo.uSync.ContentMappers.VortoContentMapper_, exported image ids have become GUIDs, previously being just the IDs

example of exported property data;

**_previously, without using VortoContentMapper_**
[code]
**_using VortoContentMapper_**
[code]
The property on the document type is a _'CTH.ExtendedMediaPicker'_ and the unde

[2017-02-02 08:12] KevinJump commented on #115
Hi, just to confirm so are they guids when imported back in ? (because they should be guids in the usync files. that is part of the mapping between installs)

it looks like using the vorto mapper means the serialisation is working (when it wasn't previously) - but it isn't deserialising properly - if the guids aren't going back to Ids

[2017-02-02 22:48] aDotNetDeveloper commented on #115
Yes, thinking about this more. being GUIDs is ideal as one of the issues I faced often was the assigned images being incorrect after a fresh import (due to recent doctypes being added etc).

**So, yes they are still GUIDs after import** - is there a generic mechanism that is used to remap ?  I can debug this and see where it needs to be added.  **Edit:** could this failure of remapping be due to t

[2017-02-03 11:09] duncanl-living opened #116 "Content Export Issue"
Hi, I'm having trouble exporting some of my content and the content that failed to export comes up highlighted orange on the "Export Processed" list.

Also in my trace log I've been seeing this:

[P16972/D3/T154] WARN  Jumoo.uSync.Content.ContentHandler - Error saving Content: System.NullReferenceException: Object reference not set to an instance of an object.
   at Jumoo.uSync.Core.Mappers.GridMa

[2017-02-03 11:13] KevinJump commented on #116
Hi, the content mapper is looking for IDs and it goes through the properties trying to find them.

looking at the code it's failing while looking in the grid.

what type of controls are you using inside the grid ? -
and do you know what content node is failing?

if you can - go into the umbraco.config file in app_data, and find the grid values for the failing node - this will help me see what the

[2017-02-03 11:27] duncanl-living commented on #116
This is the failed node.

 <caseStudy id="2259" key="3738a0ba-e809-49f6-90fb-f3dcbbbcbc6e" parentID="2272" level="4" creatorID="0" sortOrder="21" createDate="2017-01-18T12:25:49" updateDate="2017-02-03T09:43:39" nodeName="AIA" urlName="aia" path="-1,1068,1095,2272,2259" isDoc="" nodeType="2252" creatorName="Duncan" writerName="Duncan" writerID="0" template="2257" nodeTypeAlias="caseStudy">

[2017-02-03 11:27] duncanl-living commented on #116
<caseStudy id="2259" key="3738a0ba-e809-49f6-90fb-f3dcbbbcbc6e" parentID="2272" level="4" creatorID="0" sortOrder="21" createDate="2017-01-18T12:25:49" updateDate="2017-02-03T09:43:39" nodeName="AIA" urlName="aia" path="-1,1068,1095,2272,2259" isDoc="" nodeType="2252" creatorName="Duncan" writerName="Duncan" writerID="0" template="2257" nodeTypeAlias="caseStudy">
          <contentGrid><![CDATA[{

[2017-02-03 11:36] KevinJump commented on #116
thanks, i can prob work through that - but it will take a little time.

if you turn debugging on in the log4net config

  <logger name="Jumoo.uSync">
    <level value="Debug" />
  </logger>

you will get a lot more logging and it might help us pinpoint which of those values is failing.

[2017-02-03 12:10] duncanl-living commented on #116
Hi Kevin, turned on debug and more or less the same error logged nothing more in particular.

 2017-02-03 12:03:19,466 [P16972/D8/T1277] DEBUG Jumoo.uSync.Core.Serializers.ContentSerializer - Serialize Core: AIA
 2017-02-03 12:03:19,466 [P16972/D8/T1277] DEBUG Jumoo.uSync.Core.Events - Mapping Content Export: Umbraco.Grid Custom
 2017-02-03 12:03:19,466 [P16972/D8/T1277] DEBUG Jumoo.uSync.Core.Map

[2017-02-03 17:10] KevinJump commented on #115
yeah - if i'm honest the navigation of the grid stuff in json isn't great - it would be nice if there where some objects you could serialize them to in the core - but there isn't.

I will have a look see and see if i can make this bit - a bit more tolerant of random json :)

[2017-02-10 17:08] KevinJump commented on #115
There is a quite significant grid mapper update in the pipeline aa1b0b8bd03d376d65db4b771c5d2890bdd50ed7 this coupled with a new media mapper for imagecropper things should resolve this. - but it will need some testing.

[2017-02-10 17:34] KevinJump commented on #97
this in theory is fixable, it just needs someone who is much clever than me at reg ex to solve.

a typical entry might look like:

[code]

the mapping config for rich text exitors uses the following regex (its in usyncCore.config)
[code]

this will match the link (and any images) embedded in the rte but not the macro, so it needs to include some reg ext to find the MACRO markup and extract the num

[2017-02-10 17:35] KevinJump commented on #92
I am not sure this is a usync issue - if you can recreate i will re-open.

[2017-02-10 17:35] #92 closed, assigned to nobody

[2017-02-13 16:32] KevinJump commented on #116
In the upcoming release the macro parameters will be mapped. (when in a grid like above.)

[2017-02-13 16:32] #116 closed, assigned to nobody

[2017-02-15 17:58] KevinJump opened #117 "Add Ability to call Import API with a set of handlers"
Currently the API calls within uSync allow you to kick off imports / exports pointing at any folder, but they always refer back to the config for the set of hanlders to use.

Add an API call to allow other programs to select which handlers to use when performing an import.
[code]

[2017-02-15 17:58] KevinJump commented on #117
Commit : 44c0bb3bdaf1aa8776bdb1602287b4d7efdb5ed8

[2017-02-15 17:58] #117 closed, assigned to KevinJump

[2017-02-15 18:03] KevinJump commented on #117
I am not bumping the version for this, - while strictly i should, its one new additional end point to the api - and doesn't constitute the whole 'what's changed' worry for the api.

[2017-02-15 19:20] #114 closed, assigned to KevinJump

[2017-02-15 19:20] #115 closed, assigned to nobody

[2017-02-15 19:21] KevinJump commented on #115
I have tested and I think this is fixed in the latest release 3.3.2

[2017-02-15 19:21] KevinJump commented on #114
I have tested and I think this is fixed in the latest release 3.3.2

[2017-02-15 19:29] KevinJump commented on #67
this is done, but i am not sure it is needed - any changes between platforms will create redirects as part of the sync. -

[2017-02-15 19:29] #67 closed, assigned to KevinJump

[2017-02-16 09:10] markwemekamp opened #118 "Long paths in content cause tfs / build server errors"
Hi Kevin,
We're using usync content edition at the moment for a webportal we're building. We have some initial content we want to add to the the portal when we first deploy it.

We are experiencing some problems with filepaths that are too long (> 259 characters), this is because of the way content is saved in directories with the same name as the umbraco nodes.
Is there a way (perhaps a setting)

[2017-02-16 11:00] KevinJump commented on #118
hi,

you should be able to add a setting to the content and media handlers to use short names.

adding `<UseShortIdNames>true</UseShortIdNames>` to usyncbackoffice.config and running and export, should see the files/folders inside the media/and config sections use ids instead of names, and hopefully this results in shorter paths.

[2017-02-16 12:35] markwemekamp commented on #118
Hi,
Thank you for the fast response (as always :) ).
I've added the setting and it appears ContentHandler doesn't implement this feature (yet). uSyncBaseHandler does this in the GetItemFileName method but ContentHandler inherits from BaseContentHandler which does not have this functionality.

Also it would be really nice to have the length of the short guid configurable. 22 characters is still pre

[2017-02-16 13:06] KevinJump commented on #118
Urgg :( I should impliment it !

I need to check because the call base.GetItemFileName in the BaseContentHandler for content does do the short name thing but obvs not right. :(

More than happy for you to have a look at why it's not working.

The issue with the ID is it needs to be unique but also the same on multiple installs of umbraco, so a way of getting from guid to something unique but short

[2017-02-19 14:07] KevinJump commented on #118
I meant **it** should do it no I ! didn't want to sound all protective there !

[2017-02-19 19:52] markwemekamp commented on #118
Haha, cool I'll give it a look then ;)

[2017-03-02 13:01] james-speller opened #120 "Import / Full Import introduces additional nodes"
Hi got a strange issue for you

After I do a full export and then either a full import or import I get issues with additional nodes.

Sometimes these show up in my tree in the form:

mynode
mynode (1)

Other times they don't appear in the tree, but cause a problem when attempting to publish the correct node. When this occurs I see the message 'This document is published but its url would collide w

[2017-03-02 16:09] KevinJump commented on #120
Hi

if you are using the latest version of usync (because there was an issue with this pre 3.3.1 i think) then it's probably mis-matched guids ? the import of content will attempt to find a node based on the key (guid) and it also looks for the contents parent by guid.

If it doesn't match by guid usync will attempt to find the content by alias and content type. so if the name and content type are

[2017-03-02 16:29] james-speller commented on #120
We're using 3.3.0.740 I'll get the latest version and see how that goes. Thanks for the reply

[2017-03-07 08:42] aDotNetDeveloper commented on #115
Hi Kevin,

I have found that the image GUIDs will not get mapped to IDs in certain complex nested scenarios.

I'v created a project that uses latest version of Umbraco + uSync and has a simple implementation of a image in a composite, inside nestedcontent inside a vorto

on import of the content page, the image id remains as a guid.- shown in the about page
![image](https://cloud.githubusercontent

[2017-04-03 09:35] ssajami opened #122 "Export Content Properties"
I've got content that has the "Publish at" or "Unpublish at" date/time properties set.
This data doesn't seem to be included in the data exported for the content.
Is there somewhere to configure this or is it not possible?

[2017-04-06 22:52] lza93 opened #124 "Fix errors in README.md"
typos

[2017-04-07 08:15] KevinJump commented on #124
thanks. fixed by #125 :)

[2017-04-07 08:15] #124 closed, assigned to nobody

[2017-04-07 08:46] takinosaji opened #126 "ContentTypeSerializer doesnt work properly"
Consider following serialized DocumentType by uSync:

`<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>f275098b-e30c-452b-b4ec-6f8791134e9d</Key>
    <Name>Layout</Name>
    <Alias>layout</Alias>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Co

[2017-04-07 09:07] takinosaji commented on #126
UPD1: In your XElementTrackerExtension.GetLocalizeduSyncElement you are wiping content of <Definition> node here:

            // in content types we remove Definition for comparision, because for
            // custom types it can change.
            if (copy.Element("GenericProperties") != null)
            {
                foreach (var defId in copy.Element("GenericProperties").Descendants("De

[2017-04-10 16:43] KevinJump commented on #126
does the Type property not also change when you change the type ?

the reason it was wipped it to reduce the number of false positives (admitidly in old versions of umbraco) - essencially every false positive will incure a full import of that doctype which is slow.

on older (like v7.2/3 versions of umbraco this version id changed a lot, and startup times can become real slow because usync is impo

[2017-04-10 18:00] takinosaji commented on #126
He Kevin. Thx for response. No the difinition is the only what has been changed since new "data type" has the same "type".

[2017-04-12 18:05] davidtwamley opened #128 "Better diff support for Grid Layouts with CDATA and preserved line feeds for some PreValues"
We've encountered an issue several times where the json for a grid layout is modified by multiple developers (even simple changes like which grid editors are allowed) on their feature branches and then merging them is difficult because the json is collapsed down to a single line. In these cases we've resorted to extracting out the raw json from both and putting them in beyond compare. It would be

[2017-04-12 18:07] davidtwamley commented on #128
Looks like https://github.com/KevinJump/uSync/pull/28 is one approach for achieving this.

[2017-04-13 07:43] KevinJump commented on #128
yeah - the mappers for the grid (especially le blender) got quite a bit of a rewrite recently, so i need to move the pre-value stuff into the core so its used in the right places. but yet that PR does show the solution. :)

[2017-04-13 07:49] KevinJump commented on #122
yeah i don't think they are included in the export - that doesn't mean they can't be - I will have a look for the next release

[2017-04-24 15:11] KevinJump opened #130 "Shorter Paths for Content and Media"
Content and Media can still get long quickly. with short paths on you can still only get to around 9 levels deep before you hit content path issues. https://our.umbraco.org/projects/developer-tools/usync/usync/85312-usync-filepath-too-long-issue-even-with-use-short-paths-true

- need to look at options to maybe reduce path length even more.

[2017-04-24 15:38] KevinJump commented on #130
Test commit , will create folders based on levels and put content in the level folders, so content tree will probibly look like:

Content\001\content-node\content.config
Content\002\some-child-node\content.config

uses handler settings. so to turn on ... in usyncbackoffice.config

    <HandlerConfig Name="uSync: ContentHandler" Enabled="true">
      <Setting Key="levelpath" Value="true" />
    </H

[2017-04-24 15:56] KevinJump commented on #122
will be in next release.

[2017-04-24 15:56] #122 closed, assigned to KevinJump

[2017-04-24 16:00] KevinJump commented on #126
Will regression test and put into the next release.

[2017-04-24 16:00] #126 closed, assigned to nobody

[2017-04-24 16:03] #130 closed, assigned to KevinJump

[2017-04-24 16:10] KevinJump commented on #128
will have to bump this to a version change release - as it will change the format of the export file.

[2017-04-24 16:10] #120 closed, assigned to nobody

[2017-04-24 16:11] KevinJump commented on #118
change for #130 should also resolve this - it will be in the next release (3.3.3) due this week. (27th April)

[2017-04-24 16:11] #118 closed, assigned to nobody

[2017-04-24 16:18] KevinJump commented on #113
Hi

I recently received a Pull Request with this and other handlers in it https://github.com/KevinJump/uSync/pull/129

I have merged this into the next minor release branch , so once it's been tested a bit it will be in the core of usync. https://github.com/KevinJump/uSync/tree/uSync_3.4

[2017-04-24 16:18] #113 closed, assigned to nobody

[2017-04-25 06:56] ssajami commented on #122
Wow, amazing! Thanks so much :)

[2017-04-27 14:39] KevinJump opened #131 "Culture and Hostnames are not synced with content"
The culture and hostnames are not synced with the content when using content edition.

this is because the culture and hostnames are accessed via the DomainService, and at the moment we don't sync the domain service.

as such we need to write a serialiser and handler for the domain service so we can sync culture and hostnames.

[2017-04-27 15:20] KevinJump commented on #130
yeah - this is coming with a fairly big caveat, you have all the content synced in usync for this to work perfectly.

if you have nodes on the target that are not in the source, then when the sync comes along, we can't guarantee that the node won't become orphaned and end up at the root of your site.

this is because level matching requires the parent node to have a guid matching the one we have i

[2017-05-03 05:25] JohnBergman commented on #130
This seems like a pretty common scenario

"if you have nodes on the target that are not in the source, then when the sync comes along, we can't guarantee that the node won't become orphaned and end up at the root of your site."

Imagine a live site were content managers are working, and a dev site were the next version is being created... this would mean that you would not really be able to suppor

[2017-05-03 08:24] KevinJump commented on #130
yeah

in theory as long as the parent node of any tree is in the target then it 'should be' ok - but as you say if the nodes are not there then you will get the missing tree.

I might investigate the performance hit of putting some tree searching stuff in, its a bit of a hit to traverse the tree using the back office services, as you are hitting the db every-time, and their will be a lot of child

[2017-05-04 00:29] JohnBergman commented on #130
I am guessing you could detect that the issue occurs?

If so, you could add a warning in the usync dashboard with a resolve button that would defer the performance hit should it really be needed?

[2017-05-08 09:34] markwemekamp opened #132 "Problem with start node in Mediapicker"
Hi Kevin,
I currently have a problem with setting the start node of a mediapicker. I don't know if this is by design, but it appears the node id is being used instead of the node key, which is causing trouble on our staging environment. The start node is empty after I run an import

![Report](http://i.imgur.com/PYJsq5s.png)

The xml output
[code]

I'm using usync version: (uSync.BackOffice 3.3.1.7

[2017-05-08 09:38] KevinJump commented on #132
Hi,

this is partly by design -

what uSync does on import attempt to find the ID based on the path in the Node Id value.
(so the MapGuid values are used to match the prevalue with the path ( so if there was more than one value to map you would see multiple node values)

on import usync walks the media tree, using the path (so it looks for global, then shared, then knowlagebase, etc...

if at any

[2017-05-08 09:45] markwemekamp commented on #132
I have set up this structure in my media section, but the start node is empty after an import

![Media](http://i.imgur.com/FYtEGLI.png)

Do I have to do additional configuration or should this work out of the box?

[2017-05-10 11:47] markwemekamp commented on #132
I've taken a look at `DataTypeSerializer` but it doesn't look like the "Nodes" node is used there. The prevalues of the "Prevalues" are directly copied to the datatype in the `DeserializeUpdatePreValues` method.

Am I looking at the wrong place or has the functionality you described above disappeared from the code base?

[2017-05-10 12:26] KevinJump commented on #132
Hi

it starts here as part of DeserializeGetMappedValues https://github.com/KevinJump/uSync/blob/Dev-v7_4/Jumoo.uSync.Core/Serializers/DataTypeSerializer.cs#L191

which is the called at the top of DeserializeItem https://github.com/KevinJump/uSync/blob/a08421b19c53ed5a34b7fdab035f1c2e187e09df/Jumoo.uSync.Core/Serializers/DataTypeSerializer.cs#L52

that does all the mapping of MapGUid values. the L

[2017-05-16 11:53] ivo-centric opened #134 "Exception 'Illegal characters in path' with uSyncMediaFileMover and Umbraco 7.6.*"
Hi Kevin,
Just updated to Umbraco version 7.6.1 (from 7.5.11). We are using the uSync ContentEdition to sync the Media. With the new Umbraco version the moving of media files crashes in `uSyncMediaFileMover.ImportFileValue`. The new Umbraco version has a new implementation of `ContentExtensions.SetValue(this IContentBase content, string propertyTypeAlias, string filename, Stream filestream)` and i

[2017-05-16 12:30] KevinJump commented on #134
Hi, I am not sure to be honest - i will have to have a dig around.

one work around might be to not have uSync copy the actual media ? **(but i would test this a lot before going live on an existing site!)**

you can have usync set the media config, but then assume the media is already in place. so post about 7.3 the /media/[foldernumber]/ isn't in the db anymore, when umbraco starts up it just ge

[2017-05-18 06:48] ivo-centric commented on #134
Thanks, your suggested workaround works for us. We now put all the files in the Umbraco /media folder in sourcecontrol and use the `<MoveMedia>false</MoveMedia>` setting so that it does not copy files from uSync to the media folder and 'bypasses' the exception. (We are developing an Umbraco website with a team and every developer has its own local database and we are using uSync to sync the settin

[2017-05-20 10:23] KevinJump commented on #132
Hi,

I've had a look and i think there is a bit of a logic change needed, in how the process falls back.

At the moment when a mapping fails (so we can't find the target node) we use the default value in the xml which isn't necessarily the same as the default value in the install.

At the moment the mapping is done independently of the existing node, so there needs to be a change where the existin

[2017-05-20 15:26] KevinJump commented on #132
Will need testing - but the mapper is written a bit diffrently now, to do two things:
1. actually map - because it wasn't doing that properly.
2. not overwrite the value inside umbraco if it can't map. this means if you have set it manually in umbraco, a usync import won't break it.

[2017-05-20 15:26] #132 closed, assigned to KevinJump

[2017-05-20 16:34] KevinJump commented on #128
IN next version (baring testing)

[2017-05-20 16:34] #128 closed, assigned to KevinJump

[2017-05-20 16:37] KevinJump opened #135 "Map the New Pickers values - because if you don't sync the content, they don't automatically map"
in 7.6 the new pickers all use UID values - which means if the content is synced then the pickers just work.

but if you are not syncing content (for example from dev to live) then these mappings won't work , so they need to be treated like the id mappers and attempt some form of mapping.

the code will be very similar to the id mappers but the ids are UIDs so they will need to be a little bit dif

[2017-05-20 16:46] KevinJump commented on #82
will be in 3.4

[2017-05-20 16:46] #82 closed, assigned to nobody

[2017-05-20 19:45] KevinJump commented on #135
Will probably minor version bump - because we will need to compile against umbraco 7.6 to get the UID functions ?

[2017-05-22 09:12] david-richards commented on #81
Hi, is this available in a separate dll anywhere?

We would really like this, mainly for the branching reason you've outlined, but also as a dev's local copy could become out of date if they don't work on a project for a while and we've cleaned up any delete files.

The workflow we're trying to get to (which uSync is very, very close to giving us!) is:

- Devs work on local db, use usync to check

[2017-05-22 13:40] KevinJump commented on #95
I think this was actually caused by the same issue as in #112 - fixed in [Milestone 15](https://github.com/KevinJump/uSync/milestone/15) - [v3.3.1 release in feburary](https://github.com/KevinJump/uSync/releases/tag/5.6.1%2F3.3.1)

[2017-05-22 13:40] #95 closed, assigned to nobody

[2017-05-22 13:45] KevinJump commented on #81
hi, not at the moment, I think the code is half in a branch somewhere. but it hasn't been brought into what will be the explicit sync project here:. https://github.com/KevinJump/uSync/tree/Dev-v7_4/Jumoo.uSync.ExplicitSync

If i get some time its on my list and hopefully it's a simple enough idea but as the comment says - get this wrong and you're umbraco install will go awol.

[2017-06-06 08:04] Ladefuss opened #136 "Export failing on multinode treepickers in 7.5.13 with newtonsoft v. 8"
First of all: Thanks for an awezome package. (Goodwill license sent to you)

Problem:
When i try to export a rather sizable website usync failes to export my multinode treepickers. Below a section of my log file.

- Does uSync require newtonsoft v. 10 to work? Will umbraco work with this version?

Seems strange that it only fails on MNTP

Cheers

[code]

[2017-06-06 08:09] KevinJump commented on #136
oh - it shouldn't :(

The latest version is built against Umbraco 7.4 / Netwtonsoft 6.0.8 - which is the same version as 7.5.13, so it shouldn't need updating. I will have a look and see - but check and see if there another package that might have updated Newtonsoft on your build?

[2017-06-06 10:59] Ladefuss commented on #136
Cheers Kevin. Seems our own framework needs 8.0.3 which uSynch obviously isn't built against.
Thanks for your time

[2017-06-06 10:59] #136 closed, assigned to nobody

[2017-06-06 11:02] KevinJump commented on #136
Hi,

it should still work if the web.config has the range in it, then .net should map the v6 stuff to the v8 version you have. i.e this is the umbraco 7.6.x entry, and usync (targeted at 6.0.8) works with this.

[code]

[2017-06-09 09:24] nvisage-gf opened #137 "Umbraco.MultiNodeTreePicker issues"
Hi,

Having some issue with current release:

- MultiNodeTreePicker failing to export(deletes existing config from disk)
- Log file is showing error loading mapper for Umbraco.MultiNodeTreePicker (trying to load assembly Newtonsoft.Json, Version=10.0.0.0)
- uSyncCore.Config is modified on startup stripping all Mappings except Umbraco.MultiNodeTreePicker and media removed from MappingType).

Using

[2017-06-09 09:32] nvisage-gf commented on #137
Sample picker xml config:

[code]

[umbraco-log-extract.txt](https://github.com/KevinJump/uSync/files/1063559/umbraco-log-extract.txt)

uSync v3.3.4.740
uSync.Core v5.6.4.760

Will try downgrading uSync.Core to .740

[2017-06-09 10:05] nvisage-gf commented on #137
asmspy output:

[code]

[2017-06-09 10:06] KevinJump commented on #137
yeah - i don't think 5.6.4.760 should have been released - that will have been targeted to umb 7.6 which is using newtonsoft 10.0

I would down grade to .740 for now, I will go check why/what i did !

[2017-06-09 10:11] KevinJump commented on #137
think i published the wrong package :( there is now a 5.6.4.740 version of core - and i have unlisted the 4.760 version, can you try that ?

[2017-06-13 06:13] nvisage-gf commented on #137
Rolled back to 5.6.4.740 and issues resolved; thanks for quick turnaround!

[2017-06-13 06:13] #137 closed, assigned to nobody

[2017-06-16 08:18] markwemekamp opened #138 "Newtonsoft.Json error when calling import manually"
I've created my own apicontroller to have usync integrate in our continuous delivery workflow where I call `uSyncBackOfficeContext.Instance.Import` manually. For some reason I get the below exception.

I've made 100% sure that version 10 of json.net is never referenced in my project and I've looked at the source code of usync and came to the conclustion version 10 isn't used there either.

When I

[2017-06-16 08:21] KevinJump commented on #138
Hi yeah a version of usync core was released for v7.6 of umbraco by mistake - it has since been unlisted on nuget but if you change the version of usync.core to 5.6.4.740 you should be ok

[2017-06-16 08:47] markwemekamp commented on #138
Cool, thanks for the fast reply. It works now

[2017-06-27 10:40] KevinJump opened #139 "Deleting content should (optionally) add actions to the action file"
At the moment deleting content / media doesn't cause anything to be written into the action file.

ideally we should have an option (configurable in usyncBackOffice.Config?) that will cause usync to write the action if set.

we will then need to plumb the handlers (content and media) into the processing these actions before imports (as with all the others). Not a big change, but will need testing

[2017-06-27 10:42] KevinJump commented on #138
yeah bad release handling - :(

[2017-06-27 10:42] #138 closed, assigned to nobody

[2017-07-04 13:26] tomschimmel opened #140 "Branch Dev-7_4 vs Dev-7_5"
Hi,
I'm a little confused about the naming of the branches. Does Dev-7_5 implicate this branch works best withUM7.5.x / 7.6.x? Or should I clone the Dev-7_4 (main) branch and use it on UM7.5 and above?
Thanks!

[2017-07-04 13:32] KevinJump commented on #140
Hi

yes dev7_4 is the current active branch , when new releases of umbraco come out, there is often a v7_x branch just to check there are no breaking features - but at the moment everything from v7_4 through to v7_6 is compatible.

**if you want to clone for fixes ect, use dev7_4**

There are some un-released features : user and member syncing : in uSync_3.4 branch - but these will likely be merge

[2017-07-04 15:21] tomschimmel commented on #140
Thanks for the quick reply and explanation! This makes things more clearer. I'm just looking to clone for fixes, patches etc. so i'll be using the dev7_4 branch then. Thanks again and also for making this tool available for all of the Umbraco community!

[2017-07-05 06:27] aDotNetDeveloper commented on #134
Hi Kevin,

have migrated from 7.5.11 -> 7.6.3

have always moved media in previous version
`<MoveMedia>true</MoveMedia>`

re-exported with uSync 5.6.4.740

on import of Media into new umbraco instance i get this
[code]

regards
Wayne

[2017-07-25 03:01] auniqueusername commented on #134
I have also run into this issue after upgrading to:
- Umbrao 7.6.4
- uSync 3.3.4.740
- uSync.BackOffice 3.1.5.740
- uSync.ContentEdition 3.3.3.740
- uSync.ContentMappers 3.3.3.740
- uSync.Core 5.6.4.740

The error occurs with `<MoveMedia>true</MoveMedia>` when importing an Umbraco.ImageCropper media item to a clean Umbraco instance.

I cloned the Umbraco and uSync codebases and traced the executio

[2017-07-27 09:02] zpbd opened #146 "uSyncActions.config seemingly being ignored"
We have an issue (possibly related to environment configuration) where the uSyncActions.config file is not working on our QA server, although it works as expected locally.

The client-side request to `/umbraco/backoffice/uSync/uSyncApi/GetActions` is returning `)]}', []` even though the actions file is present and correct, and has the same (read only) permissions as all the other uSync files.

Not

[2017-07-27 13:11] dinc5150 opened #147 "Adding root settings to handler groups"
Hi Kevin,

I use handler groups for defining different setups between my dev, staging and live sites and it works really well. One thing I would love to be able to do is disable the "Import at startup" event on the live site (mainly to reduce boot time). I know that I can just disable it in the config on the live site, but it gets overridden on deploy.

So wanted to know your thoughts about adding

[2017-07-27 13:26] KevinJump commented on #147
Hi
yeah - i usually transform the Import setting as part of deploy, so something like

```<Import xdt:Transform="Replace">false</Import>``` in a usyncbackoffice.release.config

but applying the transform file does depend on the deployment tool you are using.

there are some attribute based things already on the handlers (See https://github.com/KevinJump/uSync/issues/59#issuecomment-238525487 ) but

[2017-07-27 13:34] dinc5150 commented on #147
Thanks for the quick response Kevin!
Yes, I did consider using config transforms on the config file, but not doing transforms on anything other than the web.config files at the moment.

I currently do restrict what gets imported into the live site, but it would be nice to have the option to only do it when manually importing.

Thanks for pointing me in the right direction, I'll take a look and see

[2017-08-13 09:22] #140 closed, assigned to nobody

[2017-09-19 14:14] KevinJump opened #148 "Umbraco 7.7x - Rename Datatype Folders"
Capture the rename of datatype folders.

[2017-09-19 14:15] KevinJump opened #149 "Umbraco 7.7.x - Rename Media Type Folders"
Capture the rename of media type folders

[2017-09-19 14:15] KevinJump opened #150 "Umbraco 7.7 - Rename Content Type Folders"
Capture the rename of content type folders

[2017-09-19 14:17] KevinJump opened #151 "Content Blueprints"
Capture Content Blueprints

these are stored in the Settings section, but are really just bits of Content - so there will be a new Handler on the ContentEdition to serialize/deserizlize the "Content Templates"

[2017-09-19 14:19] #150 closed, assigned to nobody

[2017-09-19 14:19] #148 closed, assigned to nobody

[2017-09-19 14:19] #149 closed, assigned to nobody

[2017-09-19 14:20] KevinJump commented on #151
Needs some release testing, but is done, and should be backwards compatable with Umbraco 7.6.x

[2017-09-19 14:20] #151 closed, assigned to nobody

[2017-09-19 14:22] KevinJump opened #152 "Save shouldn't fail if there are corrupt files in folders."
When you save any item, usyncs namechecker will read in existing files in an attempt to find any existing items with the same key, and remove them - this is basically how all renames work.

if for whatever reason you have corrupt files in the folder, this throws an exception because reading in the XML fails - we should just fail silently if the xml is corrupt its never going to be read into the si

[2017-09-19 14:26] #152 closed, assigned to nobody

[2017-09-22 13:31] ruant commented on #6
I just removed the language folder, and it works as expected.
`enUS.config`
[code]

Both export and import site run Umbraco 7.6.6

[2017-09-22 14:42] ruant opened #153 "Best practice installing on existing project"
Hi!
I have some issues getting uSync to work properly on an existing project.
It's been in production for about a year, and what we've been doing to to manually keep track of datatypes/document types etc. etc. while deploying.

In other words, it's been a mess.
What I've done now is to install uSync through the Umbraco package installer in the backend,
Then I copied the uSync/data folder over loca

[2017-09-22 15:02] KevinJump commented on #153
Hi

there isn't a direct way to delete everything that is missing (there is some code [work in progress](https://github.com/KevinJump/uSync/issues/81) but its not production ready)

but if you want your dev site to be only the stuff in usync you could try putting the folders into a new umbraco site.

if you install a blank site (use the same version of umbraco as your live site). and copy the fold

[2017-09-22 15:06] KevinJump commented on #6
Hi

i wonder if this is a language conflict thing,

I noticed that your language file is en-US but the alias is a Norwegian one? I will see if i can recreate it - but i think when you change the culture within an existing language umbraco doesn't update the name elements so you get this confused language thing.

[2017-09-25 12:45] ruant commented on #153
Perfect. Thanks for the quick reply Kevin.

Yeah, doing it from a clean Dev setup, and importing Prod would be the way to go.
Since there has been changes to Prod that isn't reflected in the Dev environment at the moment.

It will be nice to get this up and running.  More control, A LOT more 👍
Keep up the good work! Awesome product!

[2017-09-25 12:45] #153 closed, assigned to nobody

[2017-09-25 12:48] ruant commented on #6
I wasn't the one setting this site, so I'm not 100% sure what has been done.
But they mostly did it like you said, changing the culture.

If you need anything more from me let me know!

[2017-09-29 12:50] StefanoChiodino opened #154 "Full Export -> Error: An error has occurred. - Access to the path '[...]\uSync\data\DocumentType\settings-root' is denied."
Umbraco version 7.6.6 assembly: 1.0.6456.19226
(uSync.BackOffice 3.3.4.740) (uSync.Core 5.6.4.740)

When I try to full export I get
`Error: An error has occurred. - Access to the path '[...]\uSync\data\DocumentType\settings-root' is denied.`

I tried to add full permissions to "everyone". If I delete the folder and try again it works!

Had a read through the guide, the wiki and the open issues :(

[2017-09-29 13:04] KevinJump commented on #154
Hi

this can happen if the file or folder is open in something else (like a text editor or a command line).

there is also a small chance that during a full export the delete process can trip over itself, i think delete actions at the file level are not always synchronous so the folder may have a delayed write on it, when the delete comes in and it fails :(

if might be this one again ; https://gi

[2017-09-29 13:18] StefanoChiodino commented on #154
You may be onto something, I just tried on the server and it worked, I'll try to close as many programs as possible, unfortunately it may be VS itself.

[2017-09-29 13:25] StefanoChiodino commented on #154
Uhm I closed a couple of programs and now I can't replicate it anymore :(

Guess I'll close this issue unless I can replicate it!

Thank you so much!

[2017-09-29 13:25] #154 closed, assigned to nobody

[2017-10-03 16:56] KevinJump opened #155 "Preserve File Setting (blank not delete files in usync folder)"
the preserveAllFiles setting doesn't currently do anything.

is should make usync write out a placeholder xml file in place of an item when it is deleted.

this will help deployment scenarios where you can't delete the files from the server.

[2017-10-03 16:56] KevinJump commented on #155
this is fixed in commit: 754556e92a1ff16cddd5a4b7896b909184e53bcf

[2017-10-03 16:56] #155 closed, assigned to nobody

[2017-10-19 10:51] ghost commented on #146
I have also seen that my uSyncActions.config file is being ignored on QA but works fine locally. Doing an import shows me my updates but none of my deletes are occurring. Pressing the "view uSync Actions" button on local shows me my deletes but doing the same on QA doesn't show me anything (even though they have the same content).

I'm using (uSync.BackOffice 4.0.0.760) (uSync.Core 6.0.0.760) and

[2017-10-19 12:17] KevinJump commented on #146
yep - this is a read only issue on the file.
workaround is setting that file to read & that will fix it -

The fix will be rolled up and included in the next release of usync (i am currently managing two releases because of the differences in v7.5 and v7.6 - so i have to do quite a bit of testing)

[2017-11-10 15:04] KevinJump opened #158 "Workout if we have managed to make 4.0/6.0 Backwards compatible"
There where a few changes in the api between 7.5 -> 7.6 and 7.7 that necessitated the change in version number of uSync - however i think we might have mitigated these by backing the changes of into their own classes hidden behind version checks.

need to install and shakedown v4 on umbraco 7.4/7.5 because there is a distinct possiblity that it is ok and works fine. 🤕

[2017-11-10 15:22] KevinJump opened #159 "Renaming a template (with no children) can fail to remove old file"
If you change the alias of a template (that doesn't have any children) you can get a save error even though the save happened./

in the background the ManageOrphan process has failed for uSync - because it is trying to clean a directory that isn't there anymore.

[2017-11-10 15:25] #159 closed, assigned to KevinJump

[2017-11-10 15:26] KevinJump commented on #146
will be in next patch release

[2017-11-10 15:26] #146 closed, assigned to KevinJump

[2017-11-16 11:51] Jeavon opened #160 "Changing tab name has led to data loss of the selection within the media picker"
Whilst adding a load of new properties a existing tab was renamed, this causes the property to be deleted and re-created which of course leads to loss of the existing data.

In the attached screen shot the tab named "Info" was renamed "BM View" the logo property didn't change.

![image](https://user-images.githubusercontent.com/1829920/32889841-4f534090-cac4-11e7-8545-86ccdbeedc56.png)

[2017-11-16 12:04] KevinJump commented on #160
:(
In theory it shouldn't actually delete the property as they are matched by an internal key value (but i will check that!) so the tab doesn't matter.

_The change might well say delete because it is a comparison of XML files it doesn't match the internal process completely :(_

[2017-11-16 12:12] Jeavon commented on #160
The result was slightly odd because the umbraco.config and IPublishedContent contained the values but the Content Service and therefore the Umbraco UI didn't have any values so for some reason it does seem that internally the property was dropped and recreated...

[2017-11-16 12:13] KevinJump commented on #160
yeah i need to do the tests - it shouldn't happen - but that doesn't mean it didn't ;)

are you all latest umbraco / usync ? (just for me to recreate it)

[2017-11-16 12:14] Jeavon commented on #160
Yup we are

[code]

Thanks Kevin!

[2017-11-16 13:01] KevinJump commented on #160
Right i am close :)

I think there has been a change in behaviour in the core - but it's my bad for relying on it

the lookup in theory is fine, but before we get there we create a new tab and delete the old one - I am failry sure that in older umbraco's this just put all of the values in the tab into 'generic' and then the next bit of the process which updates the properties would put them back i

[2017-11-16 13:12] Jeavon commented on #160
Phew, very glad you've tracked it down!

[2017-11-16 13:29] KevinJump commented on #160
Hi
fixed - and released uSync 4.0.2 (Core 6.0.2) - just waiting for nuget to index it

[2017-11-16 13:29] #160 closed, assigned to KevinJump

[2017-11-16 13:55] #158 closed, assigned to KevinJump

[2017-11-16 14:43] Jeavon commented on #160
Completely awesome Kevin!

Many thanks!

[2017-11-17 17:54] rogerogert opened #161 "Image properties not syncing"
The properties width, height, type and size from Image files are not synchronized by uSync.

Version tested:
uSync.BackOffice 4.0.0.760
uSync.Core 6.0.0.760
uSync.Content: 4.0.0.760
Umbraco 7.7.4

[2017-11-18 00:06] davidtwamley commented on #128
Very nice! Thank you very much 👍

[2017-11-18 10:01] KevinJump commented on #161
Hi

yeah had a quick play around - the values are set if the media folder has also been copied over at the time of syncing - but if the media is missing then the values are blank - i suspect the umbraco process is blanking them for missing media.

however - they don't then appear when the media is copied over unless you do a *full import* - this shouldn't require a full import as usync should noti

[2017-11-18 11:22] KevinJump commented on #161
These changes will enable the import to happen if the values are missing (because media was missing on first pass). It will require the match mode is in Mismatch within the usyncCore.Config file.

As suspected these values are blanked by umbraco if the file isn't in the media folder when the media item is saved  (so even while uSync is setting these values - umbraco is overriding them with the one

[2017-11-21 16:40] rogerogert commented on #161
Hi Kevin. Thanks for your detailed response. I ran the full import and the attributes were synced as expected. Thanks for the feedback.

[2017-12-07 15:48] KevinJump commented on #139
Will be included in the next release.

will be off by default, and require a handler setting of `DeleteActions` to be true.

[2017-12-07 15:48] #139 closed, assigned to KevinJump

[2017-12-07 19:47] KevinJump commented on #131
Domain Name serialiser in next release of content edition

[2017-12-07 19:47] #131 closed, assigned to KevinJump

[2017-12-07 20:02] KevinJump commented on #147
Added code to read values from the web.config, so you can use them to override the ones in the usyncbackoffice.config file.

in the appsettings section

    <add key="uSync.Import" value="false"/>
    <add key="uSync.ExportAtStartup" value="false"/>
    <add key="uSync.ExportOnSave" value="false"/>
    <add key="uSync.HandlerGroup" value="default"/>

Will be in next release.

[2017-12-07 20:02] #147 closed, assigned to KevinJump

[2017-12-07 20:04] KevinJump commented on #161
this will be in the next release (just wrapping it up now)

[2017-12-07 20:04] #161 closed, assigned to KevinJump

[2017-12-18 09:37] tomschimmel opened #163 "Using a virtual directory to uSync/data fails when creating new data types"
Hi KevinJump,

I've used usync since a while now with a virtual directory set in IIS. While using um7.7 with the latest uSync release everything work perfect when creating a new document type (with template), media type, member type etc. However if I create a new datatype the virtual dir mapping is ignored and .config files are created straight into the website directory.

I know I could also set

[2018-02-27 23:32] jbolthouse opened #164 "Errors during Sync: Violation of PRIMARY KEY constraint 'PK_umbracoLog'."
I just performed a SQL Server Replication to a dev host from my production instance, and I am getting this very strange error and dying on at 500.

https://pastebin.com/bC2qnquU

Totally stuck... not sure what I should do next.

[2018-02-28 09:17] KevinJump commented on #164
HI

i think something happened with your replication, the error is from umbraco putting something in the Umbraco Log table (i suspect because a delete has been called) uSync doesn't directly do anything with the umbracolog table, so it's more likely the primary index is somehow out of sync ? so a new insert by umbraco is putting something in with a key that is already there.

I would blank the umb

[2018-02-28 09:35] KevinJump commented on #163
Hi I've had a quick look - but i suspect its thread based and not a super quick fix :(

Historically Datatypes save slightly different than other items in uSync.

The original issue is that the  `DataType.Saved` event in umbraco fired before all of the data type is saved (specifically the prevalues) - this means usync has to wait a little while before saving the dataType to disk or it won't get ev

[2018-03-02 11:41] #163 closed, assigned to KevinJump

[2018-03-02 11:42] KevinJump commented on #163
In 4.0.4 release

[2018-03-02 12:01] KevinJump commented on #19
Hi.
I'm closing this issue due to age & because i can't reproduce - it might have been fixed by something else, or an anomaly. If it is still happening, raise a new issue and it will be looked into.

[2018-03-02 12:01] #19 closed

[2018-03-02 12:02] KevinJump commented on #134
I am going to revisit this in the next patch release.

[2018-03-02 12:03] KevinJump commented on #6
Hi.
I'm closing this issue due to age & because i can't reproduce - it might have been fixed by something else, or an anomaly. If it is still happening, raise a new issue and it will be looked into.

[2018-03-02 12:03] #6 closed

[2018-03-05 16:23] tomschimmel commented on #163
Hi KevinJump,
Thank you for the reply and the edits. I'm not very familiar with the datatype handler but I can see you dropped the whole delayed save so I guess testing with other umbraco versions came out ok?
Thanks a lot for your time looking in to this, it will help us a lot!

[2018-03-06 08:26] rboelen commented on #135
Hi,

I would love to know what the status is on this issue, because I'm experiencing this currently in umbraco v7.9.2 and usync 4.0.4 core 6.0.4.
We use usync for syncing between dev / live. But we loose the startNodes on Umbraco.MediaPicker2 each time we import.
We do not sync content or media. Only structural items.

Are there plans to fix this anytime soon? Are there any workarounds for this?

[2018-03-06 14:17] grifin85 opened #166 "Add support Content Templates"
Thank you for your product.
Will be cool, if you add **Content Templates**

[2018-03-06 15:26] KevinJump commented on #166
Hi,
uSync.ContentEdition supports Content Templates - but they are turned off in the config by default

if you change the handler value from false to true they should be synced (you will need to do an export to get the existing ones created)

the existing line should be in your config in the default handler group
[code]

so once changed
[code]

[2018-03-08 19:04] sebafelis opened #167 "Unsupported not default Media File System"
Media files import/export doesn't work if project using other media file system (e.i. UmbracoFileSystemProviders.Azure).

I did modify "\uSync\Jumoo.uSync.Core\Helpers\uSyncMediaFileMover.cs" file to fix it. Here is complited solution:

[code]

[2018-03-09 04:40] akeilox commented on #167
I did give usync a try in earlier versions and had issues with media. Since then moved the media to Azure via UmbracoFileSystemProviders.Azure,
and been wondering how the uSync will behave in such case. A lot has changed and improved with uSync since then in terms of file name/folder handling.
This post is very interesting in that regards, that I am interested to try with /media being in Azure.

W

[2018-03-09 12:33] jbolthouse commented on #164
Hi Kevin,

After some digging, I think I have found the culprit.

When SS does replication, it alters the fundamental structure of the
primary keys in a table, so that the IDENTITY structure no longer works the
way it does in a non-replicated scenario. This means that that the
"identity inserts" that the Umbraco API uses to write its data (and for
that matter just about every other application tha

[2018-03-09 13:48] KevinJump commented on #167
thanks, i will look into adding that,

With Umbraco 7.2 (i think) I have changed would i would consider the recommended way to deal with media and uSync - from that version the way umbraco generates the folder ID has moved from the DB to the disk (it just looks for the highest number).

this means you can just copy your media folder between installations and have uSync just do the setting up of th

[2018-03-14 13:36] mirhat opened #168 "Getting error Can't create child folders you doctypes might be flat"
I am trying to import document types organised into folders, and getting this error
Umbraco 7.9.0
Usync: 4.0.4

DocumentType structure
![image](https://user-images.githubusercontent.com/9527547/37405534-324b2520-2795-11e8-95fa-0392ea0227ac.png)

 2018-03-14 14:32:16,527 [P3856/D25/T602] ERROR Jumoo.uSync.BackOffice.Controllers.uSyncApiController - Unhandled controller exception occurred
System.Nul

[2018-03-14 13:49] KevinJump commented on #168
yeah that warning isn't so much a warning as an error it turns out.

the failure appears to be steaming from uSync not being able to create the folder - now [the code](https://github.com/KevinJump/uSync/blob/d03b458a10fcf66d16fc7d65f08007b7157afb33/Jumoo.uSync.Core/Serializers/ContentTypeSerializer.cs#L201) checks for the existence of the folder before then calling the Umbraco Api to create it:

[

[2018-03-27 13:06] NikRimington opened #169 "History tab uses different date formats"
Hi, so I was looking at the history tab in Usync and noticed that the date format for the entries is inconsistent.

I've not had a chance to look through the code to see where it comes from but thought it should be flagged.

Import format: 27/03/2018 13:59
Startup format: 3/27/2018 1:50 PM

[2018-03-27 14:14] KevinJump commented on #169
I think its a server / user thing (possibly) the date gets written out into the xml file at the end of the export using `DateTime.Now.ToString("g")` - which i think can swap around depending on the culture the thread is running under.

I am going to swap it to use 'u' which will give a nicer more consist ant time reading - independent of server culture (well bar language changes for the names of t

[2018-03-30 23:15] JJCLane opened #170 "Can't export NestedContent within Leblender"
When trying to export pages which use nested content inside a grid editor, an exception is thrown:

`2018-03-30 23:04:52,203 [P416/D2/T1] WARN  Jumoo.uSync.Content.ContentHandler - Error saving Content: System.InvalidCastException: Cannot cast Newtonsoft.Json.Linq.JArray to Newtonsoft.Json.Linq.JToken.
   at Newtonsoft.Json.Linq.Extensions.Convert[T,U](T token)
   at Newtonsoft.Json.Linq.JToken.Va

[2018-04-02 11:06] KevinJump opened #172 "Macro Property Sort order not preserved"
The Sort Order of the macro parameter is exported but it's not set on import :

See : https://our.umbraco.org/projects/developer-tools/usync/usync/91380-macro-param-sort-not-importing

[2018-04-02 11:07] #170 closed, assigned to nobody

[2018-04-02 11:08] #169 closed, assigned to KevinJump

[2018-04-02 11:09] #172 closed, assigned to KevinJump

[2018-04-02 11:15] KevinJump commented on #134
Change is in - i am going to do some legacy testing before the next release to check it doesn't break anything else

[2018-04-02 11:15] #166 closed, assigned to nobody

[2018-04-04 20:53] KevinJump commented on #134
in 4.0.5

[2018-04-04 20:53] #134 closed, assigned to KevinJump

[2018-04-19 15:42] KevinJump opened #174 "Improving Ignore and Include options for Content and Media Handlers"
There are times when you might not want to sync your whole content tree. so uSync has options to let you stop doing that: **this issue is to make that nicer to use - below is the proposed functionality**

### Ignore and Include

On a content or media handler config (in `uSyncBackOffice.config`) - There are options to `ignore` or `include`

e.g:

    <HandlerConfig Name="uSync: ContentHandler" Enab

[2018-04-20 16:04] StefanoChiodino opened #175 "Saving Umbraco.DropDown changes all the prevalue IDs"
I need to ammend a dropdown and noticed uSync changes all prevalue IDs.
![image](https://user-images.githubusercontent.com/1428893/39061584-ae72ef36-44bc-11e8-8593-076ed5dbfb10.png)
The only change I've made here is to add a space in the middle of one of the descriptions.
Some ID have been switch with another (second prevalue ID has become the first prevalue ID) and some have changed completely.

[2018-04-20 16:16] KevinJump commented on #175
not sure but does this change how the content displays the picked values ?
the Alias value is usally what is stored in the content item (i think) and uSync actually ignores the ID as part of what it does.

in the background uSync using back office calls that set the collection of prevalues from a dictionary, i think this is what is moving the IDs around but i was under the impression from testing

[2018-04-20 16:23] StefanoChiodino commented on #175
Thanks for your quick reply.

I haven't tried going ahead with it, however seems to me that ultimately that id is what is stored in the db, so this would cause caos! It's stored as the string value in the cache, so it may not break immediately, but I'd guess it will load the wrong value, or no value at all if none exist in the new pool of prevalues, in the backoffice.

That being said, I'm just ch

[2018-04-20 16:29] KevinJump commented on #175
yeah The ID value is never set directly - its also never read directly from the xml - it's only really there for historical reasons 😦 and are stripped before we do any comparisons to work out if there is a change to be applied.

The Umbraco Core API call we use is [DataTypeService.SavePreValues](https://github.com/umbraco/Umbraco-CMS/blob/7ee510ed386495120666a78c61497f58ff05de8f/src/Umbraco.Core/S

[2018-04-23 15:00] StefanoChiodino commented on #175
I've just restored the live DB on the dev DB. There are 2 entries in the dropdown that somehow are the same and it doesn't let me save it as it is, so I'm just adding a space in the middle of one of them, the definition produced by uSync now changes 3 IDs completely.

[2018-04-23 15:26] StefanoChiodino commented on #175
Just tried adding the same values to another - pretty much identical - drop drown data type, and it worked just fine. Maybe it's the duplicate entry (that again, no idea how it got there) throwing it off?

[2018-04-23 15:32] KevinJump commented on #175
I have seen sometimes that DB Restore (depending on versions or how its down) can reset the identity column of a table, this means SQL will stat issuing IDs for rows starting back at 1, and these will clash with the ones in the table and you can't insert anything -  Could be that (or some deep dark bit of umbraco doing it)

but it does sound like an issue with the data in your db somewhere.

[2018-04-23 15:47] StefanoChiodino commented on #175
Considering these dropdowns were very similar and only one is giving problems I'm keen on the problem being based on the fact that a value is duplicated. Do you think that's possible?

[2018-04-25 13:28] ocastele opened #176 "usync - radiobuttonlist - sortorder issue"
Situation:
1) on development umbraco (7.10.4):
usync 4.0.5 installed (Sync Source checked)
Created a doc type (FAQ) with a radiobuttonlist with 5 values in it (a,b,c,d,e)

2) on live umbraco (7.10.4):
usync 4.0.5  installed (Sync Target checked)
Synced (so doc type FAQ is created)
Created a FAQ , marked "a" in the radiobutton list

3) on dev umbraco:
Change sortorder in de radiobuttnlist (e,a,b,c,

[2018-04-26 17:02] KevinJump commented on #176
Hi

yeah i am looking at this - at the basic level we are using the CORE api endpoints for updating these lists, and there is even stuff in the comments inside the umbraco core about these types of issues.

Its something i am hopefully going to have a play about with to see if we can improve the way it's handled. its all to do with how you track before and after really.

[2018-04-27 08:44] StefanoChiodino commented on #175
I've picked this up again and it seems to me that uSync is using the ids that are on the db. I think it's Umbraco misbehaving by changing several ids without a reason :(

Thanks for your help anyway!

[2018-04-27 08:44] #175 closed, assigned to nobody

[2018-04-27 11:10] KevinJump commented on #176
Lists are a pain! 🤕 - but this update might help.

The internal Umbraco API calls take the list of prevalues you have as an Alias and Value combo - but the content attaches to the ID (totally internally this - because if you ask for the value you don't get the ID even at a IContent level you get the alias or the value)

So when you sort (or insert something into) a list the internal IDs are mainta

[2018-04-27 11:10] KevinJump commented on #175
Hi there is something to some of this - you should look at issue #176 - I am working on something that will mitigate the majority of cases (i hope)

[2018-04-27 11:28] KevinJump commented on #176
updating the uSync.Core files to version 6.0.6 should resolve this issue.

[code]

_or download the uSync.Core.zip from [the release](https://github.com/KevinJump/uSync/releases/tag/6.0.6-Core) and copy Jumoo.uSync.Core.dll into the site bin folder_

[2018-04-27 11:28] #176 closed, assigned to nobody

[2018-04-27 11:31] KevinJump opened #177 "Improve dashboard handling in back office"
The uSync dashboard needs some splitting up so it can be tidied up

Steps

- [x] Split the core dashboard.html into separate views
- [ ] clean up the dashboard controllers
- [ ] clean up the markup so the buttons are more 'umbracoy'

[2018-05-29 14:22] karltynan opened #178 "Updating a property requires a second doctype save to update "Type""
When you create a property and save the doctype, I can see it update the `Type` and `Definition` in the `def.config` XML as expected (i.e. `Type` is set to `Umbraco.Textbox`).

But, if I then change the property to another type (i.e. checkbox) and save the doctype, the `Definition` updates but the `Type` remains as `Umbraco.Textbox`.

Saving the doctype a second time fixes this issue by updating b

[2018-05-29 14:51] KevinJump commented on #178
🤕 I suspect there are timing issues (there have been in the past - i thought they had all gone) - the trigger events in umbraco might be firing before the actual full update to the doctype is complete 😢

Will investigate this....

[2018-05-29 14:55] karltynan commented on #178
It's very edge case 😃 - I only noticed because I saved from true/false to a Vorto true/false.

[2018-05-29 14:56] KevinJump commented on #178
ohhh not as painful as i had thought :) but quite odd. (don't worry none of this matters  - i am just writing it down for my own benefit)

when the save event fires, not all of the property's properties are fully updated :

property.dataTypeDefinition has been updated - and we use this to get the datatype and then the key value we save into Definition.

but property.PropertyEditorAlias isn't updat

[2018-05-29 15:02] karltynan commented on #178
Amazing! I would have been happy just clicking save twice for the next few months to be honest... #h5yr

[2018-06-07 10:30] ruant opened #179 "Feature - Add what actually changed in the History"
The "report" shows what will change on each item.
But afterwards in the history tab you only see what item that was changed, not what actually was changed on it.

Would be nice to have the history of what changed aswell

[2018-06-13 11:08] KevinJump opened #180 "History - is slow when there is lots"
The History tab can slow down the developer dashboard page, because where there are lots of history files, it takes a little while to get them all (especially on azure) and then it can return MB of data to the dashboard, and javascript can craw.

- [x] Make the history load on demand
- [ ] Only load the details of the history when the user expands it

[2018-06-18 12:22] DempseySbaiz opened #182 "uSync not correctly syncing the sortorder of prevalues when amount of prevalues exceeds 10"
Hello,

I think there is a bug in the uSync import of prevalues. I have a prevalue with 13 values as you can see in the first attachment. The order is exactly correct as I want it in this file.
When I import this file with uSync, the sortorder of the prevalues is not correct, as you can see in the second attachment.

When I started to look what went wrong in the database, I noticed the following p

[2018-06-18 14:23] KevinJump commented on #182
yeah i am sure we use to store the sort order too, but maybe i am just remembering something else .

it does look like something is sorting the xml by alias, before we get our values to it, i will look at adding (back?) the sort order and using that to sort the lists.

[2018-07-03 07:54] b-detaill opened #183 "Syncing dictionary items - Different GUID's"
Hello Kevin

My team and I are trying to sync our dictionary items across different instances of Umbraco 7.
We noticed that the GUID's in the database aren't the same when we do an import. This gives some unwanted effects when changing the key of a dictionary item.

Bert

[2018-07-03 08:16] KevinJump commented on #183
Hi
What version of umbraco are you running ?

I think (although its been a while) that some older versions of umbraco did keep changing dictionary guid values even when you set them, so it might be that - but i will also have a quick check.

[2018-07-03 08:31] b-detaill commented on #183
We are running on umbraco version 7.10.4

[2018-07-03 08:33] KevinJump commented on #183
that's sad (for me) - almost certainly means its a uSync thing - I will do some investigation.

[2018-07-05 15:32] #174 closed, assigned to KevinJump

[2018-07-05 15:32] #178 closed, assigned to KevinJump

[2018-07-05 15:32] #182 closed, assigned to KevinJump

[2018-07-07 10:15] KevinJump commented on #183
Right the comments in the code give this away
https://github.com/KevinJump/uSync/blob/v4_master/Jumoo.uSync.Core/Serializers/DictionarySerializer.cs#L64

at least upto v7.5.4 of umbraco you can't set the guid in a dictionary item - you can at 7.11.1 so O need to go find out at what version this became possible (my guess is v7.6) - and then make sure we do a version check before we set it.

[2018-07-30 07:35] maarten-kieft opened #185 "Content: Dropdown selected value not synced"
Hi Kevin,

First: Good tool! Its a live safer to sync content created by developers. Your work is much appreciated here!

The bug we currently have is that the selected value from a dropdown is not synced. So if we selected a value from a dropdown (with custom defined values), save it. Copy the unsync files to a different server, run the import, it will set the value of that dropdown to empty.

St

[2018-07-30 07:59] KevinJump commented on #185
Hi

there are a couple of issues that have been fixed recently (#175 and #176) that i think fix this issue, but they are not in the main uSync release yet.

if you update the version of uSync.Core you are using to v6.0.6 then you will get these two fixes and you might see a fix to this (you would have to resync everything i think)

[2018-07-30 08:03] maarten-kieft commented on #185
Hi Kevin,

Sorry that I didn't mention it, but I'm using the latest versions:

usync: 4.0.5
usync.contentEdition: 4.1.2
usync.contentMappers 4.1.2
usync.Core: 6.0.6

So those 2 fixes didn't help? or they are not in v 6.0.6 ?

[2018-07-30 08:10] KevinJump commented on #185
:( - I will have to take another look

[2018-07-30 08:11] maarten-kieft commented on #185
Can I provide additional information to make the search easier?

[2018-09-03 12:24] JohnCodeBear commented on #185
It seems this issue has not been yet fixed, i have exactly the same problem.
*also using all the latest versions.

[2018-09-04 11:29] KevinJump commented on #185
Arrrgggg ! (sorry needed to vent - also most of this is for my own notes. )

**See the bottom bit for a possible solution before a code fix is issued**

I think i have worked out what needs fixing - the two fixes above fix the datatype and moving things around in the list, but content doesn't actually store the internal datatype values - rather the resultant values,

so for example a set of preval

[2018-09-04 11:57] maarten-kieft commented on #185
Hi Kevin,

Thanks for the update. The proposed solution does seem to be a winner if your logic is correct. I do see that you already created a commit as well. Just wanted to let you know that the effort is appreciated!! I will try the fix later by applying the config changes.

Maarten

[2018-09-04 12:04] KevinJump commented on #185
update : this doesn't quite work.

even though the value is stored in the content you have to set the alias for the content to actually be set - so we need to have a half mapper that maps on import but leaves alone on export .

[2018-09-04 12:48] KevinJump commented on #185
OK - so hopefully uSync.Core v6.0.7 (no published on nuget) should fix this 🤞

[2018-09-05 09:22] dawoe opened #187 "Create a health check for check folder permissions on the usync folders"
See https://our.umbraco.com/projects/developer-tools/usync/usync/93587-usync-wont-update-export

Dave

[2018-09-07 10:54] KevinJump opened #188 "Inner Content v2 uses Guid not Content Alias"
For Inner Content 2.x the contentType is now stored as a Guid not an alias - the mapper needs to be able to cope with both types.

[2018-09-07 11:10] KevinJump commented on #188
Fixed - v4.1.3 mappers - will roll that up into the main package next release.

[2018-09-07 11:10] #188 closed, assigned to KevinJump

[2018-09-14 09:27] ondrejpialek opened #191 "DictionaryItems import: changing the Guid does not work for items that have children"
Hi Kevin! Big fan.

Having updated to the latest uSync now and running on Umbraco 7.11.1 I get the following exception during import:

Just before this happens there is the following log entry:

NB: There is a bug at the moment - you log this message after assigning the new guid to the entity, so this log line will always show just the new guid twice.

I suspect this has been caused by #186 and po

[2018-09-14 09:44] KevinJump commented on #191
thanks - yeah its a real pain, I will take a look see if there is anything we can do (suspect your right about the children).

the route cause is probably a bug in Umbraco's dictionary, because as you say it appears you cant set the guid on an item that has children without this happening. but i am quite keen to make sure uSync works for all the versions is does (so v7.6+) so we will have to look

[2018-09-17 09:23] maarten-kieft opened #192 "Usync export media fails"
Hi,

When I perform a full export, the media folder is missing. When I check the logs I see the following

 2018-09-17 08:53:27,881 [P1680/D26/T34] INFO  Jumoo.uSync.BackOffice.Handlers.DataTypeHandler - Exporting all DataTypes.
 2018-09-17 08:53:34,333 [P1680/D26/T34] INFO  Jumoo.uSync.BackOffice.Handlers.TemplateHandler - Exporting all Templates
 2018-09-17 08:53:37,411 [P1680/D26/T34] INFO  Jum

[2018-09-17 09:28] KevinJump commented on #192
Hi

is your media folder on something like azure ?

[2018-09-17 09:28] maarten-kieft commented on #192
Yes.

Edit:
aaahhh wait, it might been configured as a virtual directory so thats why it can't find it.

[2018-09-17 09:29] maarten-kieft commented on #192
aaahhh wait, it might been configured as a virtual directory so thats why it can't find it.

[2018-09-17 09:31] KevinJump commented on #192
ahh ok.

it might also be worth looking at the move media setting in the config :  https://github.com/KevinJump/uSync/blob/v4_master/Jumoo.uSync.Core/Config/uSyncCore.Config#L8

because you don't need to put the actual media files into the usync folder - and can just have usync do the db elements - that might help.

[2018-09-17 09:32] maarten-kieft commented on #192
Thanks for the quick replies kevin. I will adjust the config.

[2018-09-17 09:33] #192 closed, assigned to nobody

[2018-09-17 09:45] maarten-kieft commented on #185
I don't want to scream it out loud yet, but I just did a full export/import with v6.0.7 and the dropdowns still have a value ..

[2018-09-17 09:46] KevinJump commented on #185
good thing? bad thing ?

[2018-09-17 09:49] maarten-kieft commented on #185
Good :) Previously the dropdown was empty again after an import..  But since I never could get the finger on how to reproduce it precisely, Im not 100% sure its resolved.

[2018-09-17 11:02] maarten-kieft commented on #185
Bad news, I noticed that other drop downs where empty again. The usync config is set:

descendingSlant ![CDATA[1]] /descendingSlant

When I perform an full import, it remains blank:

![image](https://user-images.githubusercontent.com/23722841/45619536-e9231600-ba79-11e8-8b0e-e8cb8cb8c3c4.png)

[2018-09-18 00:54] JohnBergman opened #193 "Filter while Exporting (enhancement request)"
We have a site that has a lot of user submitted content (user created blogs for example); so it has a forward facing front end allowing CMS documents to be created and added.

We would like to have a staging site where in-house content and enhancements are created and managed, the difficulty here is syncing between the two environments does not currently seem very doable.

Therefore:  What we are

[2018-09-18 08:00] KevinJump commented on #193
Hi

Yeah there are a few existing things (that might not fit - but be close) to what you want already floating around inside uSync.

## Content / Media Path
so for content and media you can add a setting to selectively import based on the path (or ignore). so for example :

[code]
this only imports content in the path "homepage/example" and only imports media from "sample-media" folder

_the path

[2018-09-29 22:24] JohnBergman commented on #193
Seems like changing handlerconfig (or maybe adding a new one) that would allow me to exclude/include by document type alias might be a good addition.

I'll dig around and look at savingfile, if I can simply not save things, that might be enough.  Thanks for the pointers :-)

[2018-10-05 11:45] beumsk opened #196 "template changes not taken into account"
We tested Usync to copy dev changes to production environment.
All the content changes were copied well. But template changes were not.
Any idea why?

[2018-10-05 14:33] KevinJump commented on #196
Hi

the actual content of the template files isn't synced by usync - only the internal DB (and tree) settings. you will need to also copy your templates (from the views folder) to include the changes on the production server.

[2018-10-07 14:57] tomvanenckevort commented on #191
Hey both,

I ran into the same issue as Ondrej and I've just submitted a PR for a partial fix for this issue.

The code will now temporarily remove any child dictionary items from the parent, then make the update to the parent item with the updated ID, and finally update the orphaned child items with the new parent ID.
This removes the error of the foreign key conflict.

However, it only fixes tha

[2018-10-13 00:58] ltctech commented on #185
I'm currently working with Umbraco 7.10.4 and am considering upgrading to 7.12.3. My concern is that uSync will stop working correctly. You mentioned that 7.12.2 stores values differently. Does uSync already account for that or not? Are there other compatibility issues?

I use drop downs, checkbox lists, and radio button lists all over hence my concern.

[2018-10-24 08:42] KevinJump commented on #191
thanks,

To be honest i am starting to forget why we care about the GUID value on dictionary items.

Where we can we do use the GUID because it (usally) makes the updates eaiser if things are renamed - and increasingly things (like content and media) are linked by Udi - but dictionary items are only ever referred to by name ??

So I can see a case for adding this - but i am also considering just r

[2018-10-26 10:22] DempseySbaiz opened #199 "Alias changes value along with sortorder when changing list orders"
Hey Kevin,

We've used uSync for a couple of months now to keep our development, staging and production environments in sync. It works pretty good, except for the known issue with the prevalues. You can't sort and rename a prevalue in one go, or else uSync has no info to rely on to make that change.

We also investigated why this is, and we also came to the same conclusion as you that the alias fi

[2018-10-30 05:11] ltctech commented on #185
Upgraded to 7.12.3 tonight. Using latest version of uSync published today. Export exports the string prevalue. Import is unable to map it even though the actual DropDown.Flexible didn't change and it's on the same instance of Umbraco.

[2018-10-30 10:44] KevinJump commented on #185
Yes - it looks like it was setting the value rather then the ID on reimport , i have patched this, and will build a new release for it.

[2018-10-30 10:55] KevinJump commented on #185
This is fixed (hopefully) in the new 4.0.9/6.0.9 release

if you are using nuget you can just update your uSync.Core package to 6.0.9 - the other packages have only been updated to reflect the dependency version change.

[2018-10-30 10:55] #185 closed, assigned to KevinJump

[2018-10-30 11:01] KevinJump commented on #187
health check for file permissions is in release 4.0.8

[2018-10-30 11:01] #187 closed, assigned to nobody

[2018-10-30 11:03] KevinJump commented on #196
this is the intended behavior - closing this issue (unless there is something else wrong?)

[2018-10-30 11:03] #196 closed, assigned to nobody

[2018-10-30 11:05] KevinJump commented on #199
yeah - part of the issue is that diffrent data types work this out in diffrent ways - we are a bit dependent on the value resolvers in the data types 😦 .

it is something we will put onto the next feature release thought to see if there is anything we can do to make it a bit better.

[2018-10-30 11:10] beumsk commented on #196
Thanks Kevin !
It solved our issue.

[2018-10-30 23:04] ltctech commented on #185
Yep, that fixed it for me. Thanks.

[2018-10-31 01:13] Swimburger commented on #185
Thank you for fixing this, it was bugging us for a while. Cheerz!

[2018-11-02 13:48] lcichanowicz opened #201 "Cannot 'Edit on GitHub' in ReadTheDocs site"
Hi.  I was going to fix a typo on this page:
https://usync.readthedocs.io/getting-started/

When I click its 'Edit on GitHub' link (https://github.com/KevinJump/uSync/tree/Dev-v7_4/docs/edit/master/docs/getting-started.md), I get a 404.

[2018-11-02 14:06] KevinJump commented on #201
fixed !

[2018-11-02 14:06] #201 closed, assigned to nobody

[2018-11-12 12:44] centrepointmedia opened #203 "Chauffeur: Importing content with grid components fails"
Hi Kevin

Currently using:
Chauffeur.Runner: 1.1.8-v11-142
uSync.Core: 6.8.9
uSync: 4.8.9
uSync.Chauffeur: 1.8.8
uSync.ContentEdition: 4.1.5
uSync.ContentMappers: 4.1.4
UmbracoCms: 7.11.1

When using Chauffeur to import content I am receiving the following error:

Loaded Handler uSync: ContentHandler
Importing....
Error running the current deliverable 'usync'
System.Reflection.TargetInvocationExce

[2018-11-21 19:27] JohnBergman opened #204 "Error: An error has occurred. - Object reference not set to an instance of an object."
Doing an import on a different computer; or doing a FULL Import on the computer that has the new changes results in the Object Reference error

The error was happening, so I upgraded to the latest versions on nuget - no change.

The usync tab shows these versions
(uSync.BackOffice 4.0.9.0) (uSync.Core 6.0.9.0) [uSync.Content: 4.1.5.0] [uSync.Snapshots: 1.4.1.0]

Let me know what additional informa

[2018-11-21 19:44] JohnBergman commented on #204
I turned on debug logging based on what I found in a post on our.umbraco.com (<logger name="Jumoo.uSync"><level value="Debug" /></logger>)

I've attached the full log.
[UmbracoTraceLog.DESKTOP-KD8NI8M.txt](https://github.com/KevinJump/uSync/files/2605538/UmbracoTraceLog.DESKTOP-KD8NI8M.txt)

More Errors were encountered:

 2018-11-21 13:35:06,637 [P33120/D2/T1] DEBUG Jumoo.uSync.Core.Serializers.C

[2018-11-22 06:20] JohnBergman commented on #204
I was able to get around this, but my ask would be to update the exception message to somehow include what is being processed (ie, the alias name, document type, etc) so that it can be narrowed down much faster.

This one appeared to be related to either a control that was created as document qualified and not used; I went through control by control and verified them and whether they were used as

[2018-12-19 19:11] JohnBergman opened #205 "Sync issues encountered - some properties not removed, some content not moved"
I have a situation where syncing from my dev environment to a host (not running load balancing) has issues performing the sync.  I have captured logs, screen shots and detailed information and can provide whatever is needed for you to repro the issue locally. (contact me out of band for the additional info grasshopper at kungfucoder.com)

Here is a link to the logs and a detailed description with

[2018-12-20 05:49] JohnBergman opened #206 "Redbar with undefined : undefined during export"
I received a red bar tonight while doing a full export with undefined : undefied.  There is no indicating of any type of issue even with debug turned on in the logging.  The export report also appears to indicate that everything was successful.

How about adding logic so that if you get a red bar, you at least write a marker in the log so we can see what it was trying to do?

[2019-02-01 10:44] ssougnez opened #207 "Property order inconsistency"
Hello,

The following situation occurred twice to me:

- I have a document type in production
- In dev, I add a property to this document type and change the order of this property to locate it below an existing one.
- I deployed the new version in production and run uSync
- The property does not get added at the location I set. The first time it occurred to me, the property was not at the end of

[2019-02-07 17:28] JasonElkin opened #208 "Document Type Collection with a Master"
uSync ignores the master when new documents are created as a Document Type Collection.

Using the new Document Type Collection option in Umbraco 7.13.1 causes the master document type to be ignored.

Steps to replicate:
Create a folder called "Folder" and inside it a doctype called "MasterDocType"
Right-Clink on MasterDocType -> Create -> Document Type Collection
Create Parent Document Type called

[2019-02-07 19:49] KevinJump commented on #208
Doctype Collections, don't create documents under a master the way the rest of Umbraco does and i can't say that won't have knock-on effects anywhere.

With the advent of compositions when Umbraco creates a child doctype, it also creates the composition which is why you see the Composition entry for the master in the uSync file.

but creating them with the DocType Collection option doesn't do this

[2019-02-07 19:53] KevinJump commented on #208
Further testing, (fixed usync for this) this is a bug in Umbraco (will raise isseue) becuase it means the items created by collections don't inherit the master properties properly (well they certainly don't show them in the editor).

this is because the master is not in the composition collection

[2019-02-07 20:09] KevinJump commented on #208
Umbraco Bug Report : https://github.com/umbraco/Umbraco-CMS/issues/4473

[2019-02-07 20:12] KevinJump commented on #208
We are not going to fix already broken document type collections in uSync - because while this might well be desirable it might cause unintended consequences for people

if you have already built your site, and then all of a sudden uSync fixes this, you doctypes would end up with loads of new properties (that might even clash).

uSync will continue to mirror the Umbraco instance- even if that inst

[2019-02-07 20:41] KevinJump commented on #208
"Fixed" in 4.0.10

[2019-02-07 20:41] #208 closed, assigned to nobody

[2019-02-07 20:50] KevinJump commented on #207
Hi,

we might need a little more info to get to the bottom of this, I can't recreate it 😞

The sort order is used when a doctype is reimported and it is updated (and it does move document type properties around in the UI) - it could be an issue with sort orders and inheritance of properties from other locations?

When you have a composition with an item with a sort order of 1, and then a child ite

[2019-02-07 20:53] KevinJump commented on #206
All errors are trapped (there is even an option to not send errors back as to not break startup) - but at that point, we log everything :( _the RedBar is an exception coming back so something would have to be logged somewhere?_

I have occasionally seen the redbar with nothing if you nuget install uSync and refresh the site (without rebuilding the project first) - but that's the only time

[2019-03-03 14:08] JoseMarcenaro opened #210 "Any plans for an Umbraco v8 version of uSync?"
Hi Kevin

This tool is great.
Any plans (from you or someone) to build a version for Umbraco 8?
Thanks!

[2019-03-03 14:09] KevinJump commented on #210
Yep

https://github.com/KevinJump/uSync8

[2019-03-03 14:11] JoseMarcenaro commented on #210
Great!! Thanks!

[2019-03-03 14:31] #210 closed, assigned to nobody

[2019-03-19 17:31] stherm opened #211 "Export on save cause an error"
The functionnality "Export on Save" of Usync 8 generate an error. The document is saved, but it's not published.

Error when publichig a document - > Server error : Contact administrator, see log full details
Object reference not set to an instance of an object.

As previously said, the document is fully save, but since the error happend on the save event, it's not published. When the "Export on S

[2019-04-17 19:12] JohnBergman opened #213 "Exception while importing"
When I import, I keep getting this exception:

I havent moved any documents around, so I am not sure why I would be getting this, and how to troubleshoot what the root cause is.

 2019-04-17 18:49:40,591 [P15992/D5/T268] ERROR Jumoo.uSync.BackOffice.Controllers.uSyncApiController - Unhandled controller exception occurred
System.ArgumentException: Values of parentId and docNode/@parentID are differ

[2019-05-01 13:47] lcichanowicz opened #214 "Error on Snapshot 'Apply All': Could not find a part of the path '\App_Data\temp\usync\snapshots\Views'"
I have a clean install of Umbraco 7.10.4, to match the one I'm trying to sync from.  I installed uSync via the Backoffice.  I synced a snapshot into the file system with Beyond Compare ([site root]\uSync\Snapshots).  I clicked 'Apply All' on the destination site, after a 'Refresh' click.  It churned briefly, then threw the error.

Error: An error has occurred. - Could not find a part of the path '

[2019-05-01 14:16] lcichanowicz commented on #214
Ugh.

1. I tried deleting the snapshot on the source site.  It left empty folders behind, which caused the snapshot to show in the 'Current Snapshots' list with zero items.  (I deleted the folders and refreshed.)
2. I tried creating a new snapshot.  I get: "Error: undefined - undefined" in the Backoffice UI.

I checked the log.

[code]
I have not altered the 'Culture and Hostnames'.  Why does it a

[2019-05-01 15:31] lcichanowicz commented on #214
I think I have figured out the issue, thanks to trying to make, and delete, a couple more snapshots and getting more log info.

[code]

...Led me here:
https://www.rahulpnath.com/blog/azure-web-restarting-automatically-due-to-overwhelming-change-notification/

My source site is hosted on Azure.

[2019-05-01 15:56] lcichanowicz commented on #214
The fcnMode issue was breaking full deletion of a SnapShot.  However, even with fcnMode disabled, creating a snapshot still fails at the same place each time, per the log.

uSync Backoffice GUI error:
Error: undefined - undefined

Log:
[code]
That is the end of the log (again).

[2019-05-01 16:07] KevinJump commented on #214
Hi,

turning logging levels up to debug might give a little more info, but there is obviously something going wrong 😞

try adding to log4net.config :
[code]

[2019-05-01 16:08] lcichanowicz commented on #214
Thanks, @KevinJump.  Will do, but I have a snapshot running at the moment.  I added a domain to the site, in the Backoffice, thinking that may help.

[2019-05-01 16:23] lcichanowicz commented on #214
My idea did not work.

Here is the log tail from yet another attempted snapshot creation, with more logging.

[code]

[2019-05-01 16:25] lcichanowicz commented on #214
@KevinJump, this seems to be the telltale line:

` 2019-05-01 16:19:42,721 [P5864/D18/T6] DEBUG Jumoo.uSync.BackOffice.uSyncApplicationEventHandler - Handler uSync: DomainHandler is missing in group "default" Enabled = True`

I do not know what it is telling, though.

[2019-05-01 16:28] lcichanowicz commented on #214
[code]

[2019-05-01 16:29] lcichanowicz commented on #214
Getting warmer...

[code]

[2019-05-01 16:31] KevinJump commented on #214
Hi,

the logging seems to indicate it is getting past the domain handler,

the domain handler is included because of the EnableMissing="true" line (which is the default)

basically this says if a usync handler is installed but not in the config treat it as if it's enabled.

you can disable it by either .

1. setting `EnableMissing = "false"`
or
2. explicity adding a disabled line
`<HandlerConfig N

[2019-05-01 16:32] KevinJump commented on #214
but at the moment that's not the issue, because you are getting to the bit where snapshots cleans up its folders (so removes and duplicates, etc) - i suspect this is the code that is probibly going wrong.

[2019-05-01 16:33] lcichanowicz commented on #214
Thanks.  I already took a stab and added this line:

`    <HandlerConfig Name="uSync: DomainHandler" Enabled="false" />`

By copying the last line of that section and changing the name.  I'm waiting on the delete to finish, to run it again.

[2019-05-01 16:42] lcichanowicz commented on #214
It bombed at the same place, as you predicted.

[code]

I set the root log4net priority to debug, and I am trying again.

[code]

[2019-05-01 16:50] lcichanowicz commented on #214
Hmm, the tail of the log looks the same:

[code]

Oddly, it still shows:

` 2019-05-01 16:45:07,775 [P5864/D18/T42] DEBUG Jumoo.uSync.BackOffice.uSyncApplicationEventHandler - Handler uSync: DomainHandler is missing in group "default" Enabled = True`

Here is my saved config:

[code]

[2019-05-01 16:51] KevinJump commented on #214
you have to restart the site after changing that file (it doesn't trigger a restart like a web.config)

[2019-05-01 16:53] lcichanowicz commented on #214
Bah!  I've done so many, and forgot to.  Thanks.

[2019-05-01 16:55] KevinJump commented on #214
In all likelyhood its failing here

https://github.com/KevinJump/uSync/blob/82c1c35037b2bac998e06d23cc1e0d19b1c25a20/Jumoo.uSync.Snapshots/Helpers/SnapshotIO.cs#L59

or here

https://github.com/KevinJump/uSync/blob/82c1c35037b2bac998e06d23cc1e0d19b1c25a20/Jumoo.uSync.Snapshots/Helpers/SnapshotIO.cs#L93

this is at the end of the process when it's created a snapshot, it removes anything that was in

[2019-05-01 16:58] lcichanowicz commented on #214
Uhm, I think it just ran successfully.  ?!

[2019-05-01 16:59] lcichanowicz commented on #214
[code]

[2019-05-01 17:04] KevinJump commented on #214
yeah my suspicions are with azure disk access - i think if we are rapdily reading/writing things, we can't be 100% sure things are happing in the order we expect.

[2019-05-01 18:28] lcichanowicz commented on #214
Thanks for the prompt attention and the help, @KevinJump.  Both are much appreciated.

[2019-05-01 18:39] lcichanowicz opened #215 "Snapshot items count mismatched on source and target"
Source: 93**6** items
![image](https://user-images.githubusercontent.com/4871064/57034914-c287a900-6c1e-11e9-8aa8-fd125bc72f22.png)

Target: 93**4** items
![image](https://user-images.githubusercontent.com/4871064/57034932-ce736b00-6c1e-11e9-9dc1-5e73204c337d.png)

[2019-05-01 18:45] lcichanowicz commented on #215
Source:
![image](https://user-images.githubusercontent.com/4871064/57035296-acc6b380-6c1f-11e9-8fb5-c3fe68fc5027.png)

Target:
![image](https://user-images.githubusercontent.com/4871064/57035334-bea85680-6c1f-11e9-9929-8e84b0d59b74.png)

[2019-05-02 18:25] JohnBergman opened #217 "Property List Compatibility"
I know this is not necessarily a usync issue, but when we recieve this or any other error, the backoffice usync page stops indicating the status of the import... so the only way to know when it is complete is by looking in the log.

In the mean time; is there a way to nudge usync for these other controls how to serialize their data?

 2019-05-02 18:01:58,317 [P5396/D2/T87] INFO  Umbraco.Core.Publi

[2019-05-02 18:43] JohnBergman commented on #217
Here is an example of the content.config file that is not read back in

[content.zip](https://github.com/KevinJump/uSync/files/3139486/content.zip)

[2019-05-13 16:52] lcichanowicz commented on #214
FYI, @KevinJump, I ended up copying the site from Azure, to my local PC, using Beyond Compare, and the full export worked fine, on the exact site on my PC.  I expect that you'd expect that.  :]

[2019-05-16 06:13] JohnBergman commented on #206
Ok (thanks), We I'll turn on all of the logging, we get it pretty frequently; so I'll add the log here next time we have it.

Also, it breaks the rest of the experience because while usync keeps running, the UI is never updated so the only way to know that it completes is to watch the log for the final message indicating that the change log was written to disk

[2019-05-17 19:24] bowserm opened #218 "Macro and Macro Paramter guids not sync'd"
I originally discussed this issue in Our.Umbraco here:
https://our.umbraco.com/packages/developer-tools/usync/usync/96487-macro-guids-are-not-syncd

I have reproduced the problem on two sites:

**site 1:**
 - Umbraco: 7.7.9
 - Courier 3.1.6
 - uSync: 4.0.2
 - uSync.Core: 6.0.2

**site 2:**
 - Umbraco: 7.13.1
 - Courier 3.1.5
 - uSync: 4.0.10
 - uSync.Core: 6.0.10

uSync does not store a guid when

[2019-05-18 11:21] Haugst3d opened #219 "Importing a IMedia fails"
Hi,
I have installed uSync 8 from the packages tab in Umbraco 8, and it appears to be functioning as expected.

As a test, I have copied a folder from the old media folder (containing two files): /media/1001/mancat.jpg /media/1001/mancat_thumb.jpg

And placed them in the new umbraco solution: /uSync/v8/Media/1001/man_cat.jpg /uSync/v8/Media/1001/man_cat_thumb.jpg

Running an import discovers the f

[2019-05-19 10:13] #219 closed, assigned to nobody

[2019-05-19 10:14] Haugst3d commented on #219
Moved this to uSync8

[2019-05-20 08:13] alanlee2000 opened #220 "Cannot import template on umbraco 8"
Hi,

I am trying to import the template using uSync on umbraco 8 and I only get error message "Failed to create template" in the dashboard as follow. Is there any advance on it?

Thanks & Regards
Alan

![import_error_umbraco](https://user-images.githubusercontent.com/50823677/58006169-fec17180-7b19-11e9-90ba-66938ee66223.png)

[2019-05-28 23:15] JohnBergman opened #221 "U7 & U8: Sort, Rename, Move causes usync to not apply changes"
If you have a node with a series of nodes, and one of the nodes has children.

Sort the top level node, move some around.
Rename one of the nodes
Move it to a child of the child node that has children

I also noticed that usync appears to have issues whenever you sort the content; were the sort order does not appear to be updated (I see the content nodes listed as changed).

[2019-06-27 15:49] JohnBergman opened #222 "Typeo on Dashboard"
Definitely not a big deal, but...

`Perfom import and exports of your stuff - these actions are processed against the files in ~/uSync/data/`

"Perfom" should be "Perform"

[2019-07-09 15:04] ReVoid opened #223 "V4.0.10 Missing method in Umbraco 7.15 release"
Hello.

Updated to Umbraco 7.15 (via NuGet) today and uSync throws YSOD now, with missing method:
`IUmbracoEntityUmbraco.Core.Services.IEntityService.GetByKey(System.Guid, Boolean)`

I looked Umbraco 7.15 source code and...yep, there is no` GetByKey(System.Guid, Boolean)` method anymore :(

Looks like it needs another implementation :(

uSync 4.0.10 and uSync.Core 6.0.11

[2019-07-09 16:38] KevinJump commented on #223
Thanks for reporting.

This isn't marked as a breaking change in 7.15 😢

also, they have removed the optional parameter - which I think changed the signature of elements not using it - we don't actually call GetByKey with a boolean parameter set, but I think because it's an optional parameter that has been removed the reference has gone even when you don't call it :(

so we are failing here   http

[2019-07-10 07:18] KevinJump commented on #223
doesn't look like the underlying issue is going to get fixed quickly (and it will always mean a broken 7.15.0 even if it does).

so looking at some workarounds, possibly calling other entity service methods and munging results.

[2019-07-10 09:39] KevinJump commented on #223
Fixed in 4.0.12 release of uSync

[2019-07-10 11:29] DempseySbaiz commented on #223
Hey Kevin,

I think there is still an issue with Umbraco 7.15.0 and your fix.
I can't export  any datatypes or content types since the upgrade, it gives me the following error:

So it fails on the GetAll function that you changed in the last uSync release.
Could you check this out please? Thanks!

[2019-07-10 11:32] DempseySbaiz opened #224 "Unable to export datatypes and contenttypes on umbraco 7.15.0"
Hey Kevin,

I think there is still an issue with Umbraco 7.15.0 and your latest fix (uSync v4.0.12.0).
I can't export any datatypes or content types since the upgrade.

For example, for datatypes, it gives me the following error:

So it fails on the GetAll function that you changed in the last uSync release.
Could you check this out please? Thanks!

[2019-07-10 11:32] KevinJump commented on #223
grrr arrg, thought i had caught that one :( -

[2019-07-10 12:21] KevinJump commented on #223
OK, Lets try that again, - updated the parent Lookups, and checked we were calling the right version of GetAll where we have to.

In release 4.0.13 / 6.0.13

[2019-07-10 12:21] #223 closed, assigned to nobody

[2019-07-10 12:25] KevinJump commented on #224
Fixed as a child of #223 in v4.0.13

[2019-07-10 12:25] #224 closed, assigned to nobody

[2019-07-10 12:32] ReVoid commented on #223
@KevinJump I'll try new version today with 7.14 and then with 7.15 to be sure in backward compitibility.

Thanks, Kevin!

[2019-07-10 12:41] DempseySbaiz commented on #224
Just tested it and it seems to work again.
Thx for the great work Kevin!

[2019-07-14 21:54] KevinJump commented on #222
fixed in v4.0.14 - https://github.com/KevinJump/uSync/releases/tag/v4.0.14

[2019-07-14 21:54] #222 closed, assigned to nobody

[2019-07-18 15:23] martinlcp opened #227 "Content imported but not property data"
I'm using Umbraco 7.14 and uSync/uSync.ContentEdition.

The content output contains all of items and data but when I attempt to import, the newly created pages don't include any property data.

An extra thing I'm using the the built in version of NC. Alias, Umbraco.NestedContent vs Our.Umbraco.NestedContent.  I did add an entry in the uSyncCore.config for the new alias. Is this necessary?

Martin

[2019-07-24 11:26] StefanoChiodino commented on #204
I have had the same problem a couple of times. It happens when merging changes in, and it's very hard to find where the problem lies!

[2019-07-26 15:24] #227 closed, assigned to nobody

[2019-07-26 15:26] martinlcp commented on #227
It does actually! My content import wasn't given enough to time to run to the end as there was quite a lot of it! property data it seems is imported once content nodes have been imported. Ace bit of software! Works a treat.

[2019-08-05 11:31] khwstech opened #230 "U8: Dictionary items (Translations) items not generating"
I have the following set in my usync8.config:
      <Handler Alias="dictionaryHandler" Enabled="true" />
However translation items are not being generated.

[2019-08-06 23:14] zivkos opened #231 "Umbraco 7.15 usync macro key issue umbraco"
Previously (in Umbraco  7.14) macro key was part of the XML root node now it come as separete attribure and IMacro handler not importing macro.
Example from uSync/data folder for Macro - this is what uSync generate when creating macro..

Details post below
https://our.umbraco.com/forum/templates-partial-views-and-macros/98341-umbraco-715-usync-macro-key-issue-umbraco

[2019-08-19 08:17] glombek commented on #231
+1

Here's a quick Powershell script to do the workaround if you have more than a few macros to import https://gist.github.com/glombek/46074c539bc1699969feba08ae9a801e

[2019-08-30 23:37] JohnBergman commented on #221
I can reproduce this 100% of the time in my umbraco 7.14.0 instance.

Take a backup of the source database and use it for the target so at that point they are 100% the same.

Take a node with children, move it to a parent in another tree (I have the settings to export, but not import).

Copy the usync folder over, and import... the parent/doc node error always happens

[2019-08-30 23:39] JohnBergman commented on #213
Same as issue 221

[2019-08-30 23:39] JohnBergman commented on #221
Same as issue 213

[2019-08-31 05:13] JohnBergman opened #232 "Please add more logging to this error: Unhandled controller exception occurred System.ArgumentException: Values of parentId and docNode/@parentID"
It is impossible to debug with such limited info available; can you please add some more logging to this?

This also appears to be related to the moving of nodes.

Date | Sat, 31 Aug 2019, 04:49:25
-- | --
ERROR
Jumoo.uSync.BackOffice.Controllers.uSyncApiController
1012
17
5

Unhandled controller exception occurred System.ArgumentException: Values of parentId and docNode/@parentID are different.

[2019-08-31 06:58] KevinJump commented on #221
Hi
just focusing on the error for the moment (will look at sort to in a bit)

Having trouble reproducing this - _uSync (4.0.14) Content (4.1.8) Umbraco (7.15.2)_

I have done the following

1. Build Two new sites with Standard starter kit.
2. Made sure they share a machine key
3. Copied database from Source to target so they are the same.
4. On Source Created new Content Page - 'NewPage'
5. Copied

[2019-08-31 07:24] KevinJump commented on #221
OK, I can only reproduce if the node you are moving the content to is also new to the target site, and then it is a one time issue (if you run the import again it works)

just want to confirm that is what you are seeing ?

My steps are:
1. Create a new node ('MyPage')
2. Move a tree of nodes from somewhere else to under 'MyPage'
3. Replace uSync folder on target from source
4. run import - get nod

[2019-09-06 20:19] deenmkt opened #233 "Issue when turning auto Sync on"

[2019-09-06 20:27] deenmkt commented on #233
Hi,
After turning uSync to "autosync" we're facing the problem you can see in the attachment
![image](https://user-images.githubusercontent.com/45425954/64458080-c181ef00-d0ca-11e9-9e8b-5afe23a30f71.png)

We are using Umbraco Umbraco version 7.15.0 assembly: 1.0.7128.14457 and (uSync.BackOffice 4.0.14.0) (uSync.Core 6.0.14.0) [uSync.Content: 4.1.7.0

Do you have any idea what we can do to solve it

[2019-09-11 11:04] yavorsky-vl opened #234 "DocType import error"
Describe the bug
When importing one of the documents, I get an error:
Import Fail: Object reference not set to an instance of an object.
It looks like one of the operations exceeds the timeout.
I have caught look in database:
Directly Blocked Transactions:
**Blocking SQL Statement**
SELECT [umbracoDocument].[nodeId] AS [NodeId], [umbracoDocument].[published] AS [Published], [umbracoDocument].[edit

[2019-09-12 20:06] croban opened #235 "ContentEdition"
I have installed uSync.ContentEdition but how i can turn it off?
Is there some kind of config for uSync.ContentEdition?

[2019-09-13 17:57] KevinJump commented on #235
Hi
(assuming v7)

content edition adds extra handlers to uSync, you can turn these off in the `uSync.backoffice.config` file

by default it might look like:

[code]

to turn content edition off - set the ContentHandler and MediaHandler Enabled to false.

[2019-09-13 20:15] croban commented on #235
sorry my fault, i am using v8. I have not seen this config's i will try with:
[code]

[2019-09-20 01:02] dinc5150 opened #236 "Content not importing when upgrading to the latest 4.0.10"
Hey Kevin,

I've just upgraded all my uSync V7 packages and content doesnt seem to import, but without error. Log files say that the content was imported (e.g. `Handler Import Complete: 0 Items 0 changes 0 failures`), however no content imports.

Somone else seems to have the same problem here - https://our.umbraco.com/forum/using-umbraco-and-getting-started/98953-does-usync-work-with-umbraco-vers

[2019-09-20 08:29] KevinJump commented on #236
Hi,

certainly looks like there is a bug with the reporting line :(

at the moment trying to replicate, with the same versions I do get content imports, but I need to check the upgrade path too.

The Content Checker uses an 'IsNewer' check, so it only imports content when the date in the uSync file is newer than the date of the content item, this is configurable in the uSyncCore.Config but it can

[2019-09-20 08:40] KevinJump commented on #236
Hi,

yeah for me it still works after an upgrade (i mean it reports 0 changes, but i think this is because the report line is missing in the content handler and its actually the domains line that is reporting :( )

I suspect it's the updated date thing, but if you can still reproduce, it might be worth you adding debug logging to the log4net.config file

[code]

and we can get a lot more info, and

[2019-09-20 09:05] dinc5150 commented on #236
Thanks Kevin,

I'm actually starting with a blank DB, so not sure if its related to Content Matching.

I'm using Chauffeur to create the database and then uSync on import on startup. Attached is a log file from a brand new DB with the uSync import on the first run.

Attached is a log file with debug turned on. Hope it helps!
[UmbracoTraceLog.Yoga.txt](https://github.com/KevinJump/uSync/files/36350

[2019-09-20 09:11] KevinJump commented on #236
Hi,

That log does look like uSync is updating the content.?

you can see inside the bits where it is reading and updating the content
2019-09-20 19:03:28,245 [P17020/D4/T39] INFO  Umbraco.Core.Publishing.PublishingStrategy

which means its firing the save/publish at the end of the processing, there is nothing in the log that looks like its erroring :( - do you have any changes you can point to no

[2019-09-22 05:25] dinc5150 commented on #236
Thanks Kevin, so I'm not going crazy then. Yes, everything seems to say all is good from what I can see in the logs.

The project that I'm testing on is a solution that is setup as a starting point for all my sites, so reasonably straight forward, but plenty of custom code. There have only been small changes recently that wouldn't think should affect content. The main changes were that I had upgra

[2019-09-23 18:30] pcharb opened #237 "No log or trace of import in V8.2"
Hi, I've just updated from 8.0.1 to 8.2 and I can't see any log in the import or report.

Here are two screenshot of using doing and import and when done. Am I missing something?

![usync while working](https://user-images.githubusercontent.com/1386693/65452158-9ad3f000-de0e-11e9-8188-4dafb7dce114.png)

![usync done](https://user-images.githubusercontent.com/1386693/65452175-a1fafe00-de0e-11e9-824

[2019-09-23 19:23] pcharb commented on #237
Found out what it is.

During the install, in the file package.manifest Two script were missing

[code]

adding those two fixed it
`,

    "~/app_plugins/uSync8/components/uSyncReportViewComponent.js",
    "~/app_plugins/uSync8/components/uSyncProgressViewComponent.js"`

[2019-09-23 19:23] #237 closed, assigned to nobody

[2019-09-24 15:19] SandraGecko opened #238 "uSync doesn't synchronize published content"
I have two Umbraco8 sites. One for development and second for testing. I have installed uSync, uSync.Core, uSync.ContentEdition and uSync.Backoffice.Core to the both of them. I set the settings Export on startup, import on startup, export on save on both of them. I have published content on the first one with text and images. First I started the first one and I went to usync and exported everythin

[2019-10-01 12:57] AlexandreLocas opened #239 "Execution Timeout Expired when importing content type changes"
Hi, when trying to import settings we receive the following error (see bottom).

- uSync v8.2.1.924 + Content Edition.
- The database used is a Azure SQL database.
- The update is to add 5 properties to a content type.
- There are about 800 nodes usings this document type.

I changed the 'Connection timeout' property on connection string but it had no effect. It seems to rather be SQL's CommandTim

[2019-10-07 02:43] dinc5150 commented on #236
Hey @KevinJump ,

Sorry for the delay in getting back to you on this!

I've pulled down the v4_master branch (Is this the correct branch to be working on?) and run the Jumoo.uSync.Site with the default `uSync/data/` folder thats part of the branch. The only changes that I made was to the connection string in the web.config. Its having the same results as my other project. No content showing up, bu

[2019-10-07 04:27] dinc5150 commented on #236
Furthermore, I've tracked it down to commit 144e0a44 where it seems to be the earliest commit to show the same issue.

Previous commit 3be5ca95 does import the content / media correctly.

[2019-10-07 10:31] KevinJump commented on #236
HI i am on holiday this week, so won't really get a chance to look properly till next week.
but the commit https://github.com/KevinJump/uSync/commit/144e0a44b72019c34aaca78e0c3da6c6c72b98d2 doesn't actually change any of the distributed uSync code (it updates the test site in the project but not any of the files in the projects that make up the distributed packages).

When i had a look at this las

[2019-10-07 11:41] dinc5150 commented on #236
All good @KevinJump , I'm in no rush... and you are probably well deserving of your holiday. Enjoy!

[2019-10-14 12:38] #235 closed, assigned to nobody

[2019-10-17 11:09] cmwalolo opened #240 "Language Import on uSync 8"
when importing multiple languages, the import could fail. Possibly the fallback language is not yet imported. Invisible in the report, and mess up totally the content import.

[2019-11-12 02:45] JohnBergman opened #241 "usyncbackoffice.config archive flag may not work"
I have the flag set to false (Archive Verison)...
  <ArchiveVersions>false</ArchiveVersions>

But I still see this in the debug log.

2019-11-11 20:37:32,085 [P35124/D2/T21] DEBUG Jumoo.uSync.BackOffice.Helpers.uSyncIOHelper - Archive: D:

[2019-11-12 02:49] JohnBergman commented on #221
I see that, and it eventually resolves itself most of the time.

Is it possible to have the UI update / continue to update / show the correct state when that error happens?  Once you get the error, it looks like it just keeps going, but you cannot tell what it is doing.

I am also wondering if on import/export you could determine the total number of nodes and maybe display a counter... I just ran

[2019-11-12 02:51] JohnBergman opened #242 "Settings Ignore appears to use contains instead..."
<Setting Key="ignore" Value="homepage\imported" />

This also seems to ignore homepage\imported2

[2019-11-12 02:52] JohnBergman opened #243 "Extra logging in debug output could be removed"
When debug is on, I see 2 lines for delete file/delete

2019-11-11 20:48:56,129 [P35124/D2/T21] DEBUG Jumoo.uSync.BackOffice.Helpers.uSyncIOHelper - Delete File: D:\xxx\Trunk\xxx\uSync\data\Content\007\content-card\content.config
 2019-11-11 20:48:56,276 [P35124/D2/T21] DEBUG Jumoo.uSync.BackOffice.Helpers.uSyncIOHelper - Delete: D:\xxx\Trunk\xxx\uSync\data\Content\007\content-card\content.config

[2019-11-12 23:21] JohnBergman commented on #221
I have also seen it when adding a new node and sorting after adding; then copying the usync over and importing.  I havent been doing that for a while so I dont recall the exact scenario - I was looking through my notes to see  if I could find more info without luck